<template>
  <q-page id="login" class="flex flex-center">
    <div style="width:100%;" class="q-pa-sm">
      <div class="row column">
        <div class="col q-pa-lg self-center">
          <img alt="Kensington logo" class="logo" src="~assets/logo-white.png" />
        </div>
        <div class="q-px-lg">
          <div class="col q-px-sm">
            <q-input
              hide-bottom-space
              filled
              v-model="form.email"
              label="Email"
              @input="$v.form.email.$touch()"
              :error="$v.form.email.$error"
            >
              <template v-slot:error>
                <i v-if="!$v.form.email.required">Email is required.</i>
                <i v-if="!$v.form.email.email">Invalid email format.</i>
              </template>
            </q-input>

            <q-input
              type="password"
              filled
              color="primary"
              @input="$v.form.password.$touch()"
              v-model="form.password"
              :error="$v.form.password.$error"
              label="Password"
            >
              <template v-slot:error>
                <i v-if="!$v.form.password.required">Password is required.</i>
              </template>
            </q-input>
          </div>
          <div class="col q-px-sm">
            <q-btn
              :loading="loading"
              size="lg"
              @click="onLogin()"
              :disable="loading"
              color="accent"
              class="full-width"
              label="Login"
              style="border-radius: 25px;"
            >
              <template v-slot:loading>
                <q-spinner-hourglass class="on-left" />Loading...
              </template>
            </q-btn>
          </div>
        </div>

        <div class="col q-px-sm q-mt-lg">
          <p class="text-center text-white q-pt-lg">
            Don't have an account?
            <q-space></q-space>
            <router-link class="text-white" to="/register">Register here</router-link>
          </p>
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
import { required, email } from "vuelidate/lib/validators";
import { mapGetters, mapState, mapMutations, mapActions } from "vuex";
export default {
  data() {
    return {
      form: {},
      loading: false
    };
  },
  computed: {
    ...mapState("user", ["userInfo"]),
    ...mapGetters("user", ["getFullName"])
  },
  methods: {
    ...mapActions("user", ["login"]),
    onLogin() {
      this.$v.$touch();

      if (this.$v.$invalid) {
        this.$q.notify({
          color: "negative",
          icon: "warning",
          timeout: 1000,
          message: "Some fields are required!",
          position: "top",
          actions: [
            {
              icon: "close",
              color: "white",
              handler: () => {
                /* ... */
              }
            }
          ]
        });
      } else {
        this.loading = true;
        this.$axios
          .post("https://kensington.holbornassets.com/api/login", this.form)
          .then(response => {
            if (response.data.success) {
              this.login({
                userInfo: response.data.result.userInfo
              });

              this.loading = false;
              this.$router.push("/user");
            } else {
              this.loading = false;
              this.$q.notify({
                color: "negative",
                icon: "warning",
                timeout: 1000,
                message: response.data.message,
                position: "top",
                actions: [
                  {
                    icon: "close",
                    color: "white",
                    handler: () => {
                      /* ... */
                    }
                  }
                ]
              });
            }
          })
          .catch(error => {
            this.loading = false;
            this.$q.notify({
              color: "negative",
              icon: "warning",
              timeout: 1000,
              message: "Check your internet connection!",
              position: "top",
              actions: [
                {
                  icon: "close",
                  color: "white",
                  handler: () => {
                    /* ... */
                  }
                }
              ]
            });
          });
      }
    }
  },
  validations: {
    form: {
      email: {
        required,
        email
      },
      password: {
        required
      }
    }
  }
};
</script>

<style lang="scss" scoped></style>
