<template>
  <q-page id="Register" class="q-pa-md">
    <q-header :class="$q.dark.isActive ? 'bg-secondary' : ''" elevated>
      <q-toolbar class="text-accent">
        <q-btn @click="$router.go(-1)" flat round dense icon="las la-angle-left" class="q-mr-sm" />
        <q-toolbar-title>Register your account</q-toolbar-title>
      </q-toolbar>
    </q-header>
    <div class="col-12 text-center text-uppercase">
      <p class="text-h6 q-ma-md">
        {{ titles[step - 1] }}
        <br />
      </p>
    </div>
    <q-stepper
      v-model="step"
      ref="stepper"
      contracted
      color="accent"
      done-color="positive"
      active-color="accent"
      animated
    >
      <q-step
        :name="1"
        prefix="1"
        title="Select campaign settings"
        icon="settings"
        :done="step > 1"
      >
        <!-- <p class="text-bold">PERSONAL INFORMATION</p> -->
        <q-input
          filled
          hide-bottom-space
          dense
          @input="$v.form1.fname.$touch()"
          :error="$v.form1.fname.$error"
          v-model="form1.fname"
          label="Firstname"
          type="text"
        >
          <template v-slot:error>
            <i v-if="!$v.form1.fname.required">Firstname is required.</i>
          </template>
        </q-input>
        <q-input
          filled
          dense
          hide-bottom-space
          @input="$v.form1.lname.$touch()"
          :error="$v.form1.lname.$error"
          v-model="form1.lname"
          label="Lastname"
          type="text"
        >
          <template v-slot:error>
            <i v-if="!$v.form1.lname.required">Lastname is required.</i>
          </template>
        </q-input>
        <q-input
          filled
          dense
          hide-bottom-space
          @input="$v.form1.tel_number.$touch()"
          :error="$v.form1.tel_number.$error"
          v-model="form1.tel_number"
          label="Telephone Number"
          type="number"
        >
          <template v-slot:error>
            <i v-if="!$v.form1.tel_number.required">Telephone number is required.</i>
            <i v-else-if="!$v.form1.tel_number.numeric">Telephone number should be in numeric value.</i>
          </template>
        </q-input>
        <q-input
          filled
          dense
          hide-bottom-space
          @input="$v.form1.mob_number.$touch()"
          :error="$v.form1.mob_number.$error"
          v-model="form1.mob_number"
          label="Cellphone Number"
          type="number"
        >
          <template v-slot:error>
            <i v-if="!$v.form1.mob_number.required">Mobile number is required.</i>
            <i v-else-if="!$v.form1.mob_number.numeric">Mobile number should be in numeric value.</i>
          </template>
        </q-input>
        <q-input
          hide-bottom-space
          filled
          v-model="form1.birth_date"
          dense
          label="Birthdate"
          mask="date"
          @input="$v.form1.birth_date.$touch()"
          :error="$v.form1.birth_date.$error"
        >
          <template v-slot:error>
            <i v-if="!$v.form1.birth_date.required">Birthdate is required.</i>
          </template>
          <template v-slot:append>
            <q-icon name="event" class="cursor-pointer">
              <q-popup-proxy ref="qDateProxy" transition-show="scale" transition-hide="scale">
                <q-date
                  color="secondary"
                  v-model="form1.birth_date"
                  @input="() => $refs.qDateProxy.hide()"
                />
              </q-popup-proxy>
            </q-icon>
          </template>
        </q-input>

        <q-input
          filled
          dense
          hide-bottom-space
          @input="$v.form1.address_1.$touch()"
          :error="$v.form1.address_1.$error"
          v-model="form1.address_1"
          label="Address 1"
          type="text"
        >
          <template v-slot:error>
            <i v-if="!$v.form1.address_1.required">Address is required.</i>
          </template>
        </q-input>
        <q-input
          filled
          dense
          hide-bottom-space
          @input="$v.form1.address_2.$touch()"
          :error="$v.form1.address_2.$error"
          v-model="form1.address_2"
          label="Address 2"
          type="text"
        >
          <template v-slot:error>
            <i v-if="!$v.form1.address_2.required">Address is required.</i>
          </template>
        </q-input>

        <q-input
          hide-bottom-space
          filled
          dense
          v-model="form1.address_3"
          label="Address 3"
          type="text"
        ></q-input>

        <q-input
          filled
          dense
          hide-bottom-space
          @input="$v.form1.town.$touch()"
          :error="$v.form1.town.$error"
          v-model="form1.town"
          label="Town/City"
          type="text"
        >
          <template v-slot:error>
            <i v-if="!$v.form1.town.required">Town is required.</i>
          </template>
        </q-input>

        <q-select
          transition-hide="scale"
          transition-show="scale"
          filled
          hide-bottom-space
          dense
          :loading="loadingCountry"
          v-model="form1.country"
          :options="countries"
          options-selected-class="text-accent"
          :option-value="opt => opt.iso"
          :option-label="opt => opt.name"
          :error="$v.form1.country.$error"
          map-options
          emit-value
          label="Country"
        >
          <template v-slot:error>
            <i v-if="!$v.form1.country.required">Country is required.</i>
          </template>
        </q-select>
        <q-select
          transition-hide="scale"
          transition-show="scale"
          filled
          dense
          hide-bottom-space
          v-model="form1.default_currency"
          options-selected-class="text-accent"
          :error="$v.form1.default_currency.$error"
          :options="options"
          option-value="value"
          map-options
          emit-value
          label="Currency"
        >
          <template v-slot:error>
            <i v-if="!$v.form1.default_currency.required">Currency is required.</i>
          </template>
        </q-select>
      </q-step>

      <q-step
        :name="2"
        title="Create an ad group"
        caption="Optional"
        icon="create_new_folder"
        prefix="2"
        :done="step > 2"
      >
        <p class="text-bold">TAX RESIDENCY</p>
        <p>
          Tax regulations require us to collect certain information about each
          investor's tax arrangements. Please indicate all countries in which
          you are resident for tax purposes and the associated Tax Reference
          Numbers below.
        </p>
        <p>
          Please select your country/countries of tax residency and enter the
          associated Tax Reference Number. If you have any questions about how
          to complete this form please contact your tax adviser.
        </p>

        <q-card class="q-mb-md" v-for="(v, key) in $v.form2.taxRes.$each.$iter" :key="key">
          <q-bar>
            <q-space />
            <q-btn v-if="key != 0" dense flat icon="close" @click="form2.taxRes.splice(key,1)" />
          </q-bar>
          <q-card-section>
            <q-select
              transition-hide="scale"
              transition-show="scale"
              hide-bottom-space
              filled
              dense
              :loading="loadingCountry"
              v-model.trim="v.tax_country.$model"
              :options="countries"
              :option-value="opt => opt.iso"
              :option-label="opt => opt.name"
              options-selected-class="text-accent"
              :error="$v.form2.taxRes.$each[key].tax_country.$error"
              map-options
              emit-value
              label="Country"
            >
              <template v-slot:error>
                <i v-if="!$v.form2.taxRes.$each[key].tax_country.required">Country is required.</i>
              </template>
            </q-select>

            <q-input
              filled
              dense
              v-model.trim="v.id_number.$model"
              label="Tax Indentification Number"
              type="text"
              :error="$v.form2.taxRes.$each[key].id_number.$error"
            >
              <template v-slot:error>
                <i
                  v-if="!$v.form2.taxRes.$each[key].id_number.required"
                >Tax Identification Number is required.</i>
              </template>
            </q-input>
          </q-card-section>
        </q-card>

        <div class="row justify-center">
          <q-btn
            @click="form2.taxRes.push({tax_country:'',id_number:''})"
            color="accent"
            class="q-ma-lg"
            label="Add Country"
          />
        </div>
        <p class="note text-center">
          Please note that in certain circumstances we may be obliged to share
          this information with relevant tax authorities.
        </p>
      </q-step>

      <q-step :name="3" prefix="3" title="Payment Information" icon="add_comment" :done="step > 3">
        <!-- <p class="text-bold">PAYMENT INFORMATION</p> -->

        <q-input
          hide-bottom-space
          filled
          @input="$v.form3.email.$touch()"
          :error="$v.form3.email.$error"
          dense
          v-model="form3.email"
          label="Email Address"
          type="text"
        >
          <template v-slot:error>
            <i v-if="!$v.form3.email.required">Email is required.</i>
            <i v-else-if="!$v.form3.email.email">Check email format.</i>
          </template>
        </q-input>
        <q-input
          @input="$v.form3.password.$touch()"
          :error="$v.form3.password.$error"
          hide-bottom-space
          filled
          dense
          v-model="form3.password"
          label="Password"
          type="password"
        >
          <template v-slot:error>
            <i v-if="!$v.form3.password.required">Password is required.</i>
          </template>
        </q-input>
        <q-input
          hide-bottom-space
          filled
          dense
          v-model="form3.confirm_password"
          @input="$v.form3.confirm_password.$touch()"
          :error="$v.form3.confirm_password.$error"
          label="Confirm Password"
          type="password"
        >
          <template v-slot:error>
            <i v-if="!$v.form3.confirm_password.required">Password is required.</i>
            <i v-else-if="!$v.form3.confirm_password.sameAs">Password does'nt match.</i>
          </template>
        </q-input>
        <q-select
          hide-bottom-space
          transition-hide="scale"
          transition-show="scale"
          filled
          dense
          v-model="form3.memorable_question"
          :options="questions"
          label="Memorable Question"
          options-selected-class="text-accent"
          :option-value="opt => opt.value"
          :option-label="opt => opt.label"
          map-options
          emit-value
          :error="$v.form3.memorable_question.$error"
        >
          <template v-slot:error>
            <i v-if="!$v.form3.memorable_question.required">Memorable question is required.</i>
          </template>
        </q-select>
        <q-input
          hide-bottom-space
          filled
          dense
          v-model="form3.answer"
          label="Answer"
          :type="show ? 'text' : 'password'"
          @input="$v.form3.answer.$touch()"
          :error="$v.form3.answer.$error"
        >
          <template v-slot:after>
            <q-btn
              dense
              @click="show = !show"
              class="q-mt-md"
              flat
              :icon="!show ? 'las la-eye-slash' : 'las la-eye'"
            />
          </template>
          <template v-slot:error>
            <i v-if="!$v.form3.answer.required">Answer is required.</i>
          </template>
        </q-input>
      </q-step>

      <q-step :name="4" prefix="4" title="Paperless Statement" icon="add_comment">
        <!-- <p class="text-bold">PAPERLESS STATEMENTS</p> -->
        <p>
          Your half-yearly statements, tax vouchers and distribution advice will
          be delivered to your online document store as well as sent through the
          post.
        </p>
        <p>
          We'll send an email to the email registered to notify you of new
          documents. If you do not wish to receive paper copies you can select
          the paperless service below.
        </p>
        <p>
          Note: this will not affect other correspondence types such as contract
          notes.
        </p>
        <p class="text-center q-mb-none">Opt Out From Post Statements:</p>
        <div class="row justify-center">
          <q-radio color="accent" v-model="form4.opt" val="yes" label="Yes" />
          <q-radio color="accent" v-model="form4.opt" val="no" label="No" />
        </div>
        <q-separator class="q-my-lg"></q-separator>
        <q-card>
          <q-card-section>
            <q-input
              filled
              dense
              v-model="form4.referal"
              label="Adviser Referral Code (Optional):"
              type="text"
            ></q-input>
          </q-card-section>
        </q-card>
      </q-step>

      <template v-slot:navigation>
        <q-stepper-navigation>
          <div class="row justify-end">
            <q-btn
              v-if="step > 1"
              flat
              color="secondary"
              @click="$refs.stepper.previous()"
              label="Back"
              class="q-ml-sm"
            />
            <q-btn
              @click="nextBtn()"
              color="secondary"
              :label="step === 4 ? 'Finish' : 'Continue'"
            />
          </div>
        </q-stepper-navigation>
      </template>
    </q-stepper>
  </q-page>
</template>

<script>
import { mapGetters } from "vuex";
import { required, sameAs, email, numeric } from "vuelidate/lib/validators";

export default {
  data() {
    return {
      show: false,
      formFinal: {},
      form1: {},
      form2: {
        taxRes: [
          {
            tax_country: "",
            id_number: ""
          }
        ]
      },
      form3: {},
      form4: {
        opt: "yes",
        referal: ""
      },
      accounts: [],
      funds: [],
      step: 1,
      questions: [
        {
          label: "What is your mother's Middle name?",
          value: 1
        },
        {
          label: "Where did you go for college?",
          value: 2
        },
        {
          label: "Who is your spouse?",
          value: 3
        },
        {
          label: "What is your mother's maiden name?",
          value: 4
        },
        {
          label: "What is your pet's name?",
          value: 5
        }
      ],
      titles: [
        "Personal Information",
        "Review And Declare",
        "Payment Information",
        "Paperless Statement"
      ],

      countries: [],
      loadingCountry: false,
      options: [
        {
          label: "USD",
          value: "1"
        },
        {
          label: "GBP",
          value: "2"
        }
      ]
    };
  },

  computed: {
    ...mapGetters("user", ["getUserId"])
  },
  mounted() {
    this.$q.loading.show();

    this.getCountries();
  },
  methods: {
    nextBtn() {
      let hasError = false;

      switch (this.step) {
        case 1:
          this.$v.form1.$touch();
          hasError = this.$v.form1.$invalid;
          break;
        case 2:
          this.$v.form2.$touch();
          hasError = this.$v.form2.$invalid;
          break;
        case 3:
          this.$v.form3.$touch();
          hasError = this.$v.form3.$invalid;
          break;
        case 4:
          this.$v.form4.$touch();
          hasError = this.$v.form4.$invalid;

          this.formFinal = this.$_.merge(
            this.form1,
            this.form2,
            this.form3,
            this.form4
          );

          break;
        default:
          break;
      }

      if (hasError) {
        this.$q.notify({
          color: "negative",
          icon: "warning",
          timeout: 1000,
          message: "Please, check your entries and try again!",
          position: "top",
          actions: [
            {
              icon: "close",
              color: "white",
              handler: () => {
                /* ... */
              }
            }
          ]
        });
      } else {
        if (this.step == 4) {
          console.log(this.formFinal);
          this.$axios
            .post(
              "https://kensington.holbornassets.com/api/register",
              this.formFinal
            )
            .then(response => {
              this.$q.notify({
                color: "positive",
                icon: "check_circle",
                timeout: 1000,
                message: "Registered successfully. Please, Login to continue",
                position: "top",
                actions: [
                  {
                    icon: "close",
                    color: "white",
                    handler: () => {
                      /* ... */
                    }
                  }
                ]
              });
            });

          this.$router.push("/login");
        } else {
          this.$refs.stepper.next();
        }
      }
    },

    getCountries() {
      this.loadingCountry = true;
      this.$axios
        .get("https://kensington.holbornassets.com//api/getCountry")
        .then(response => {
          this.loadingCountry = false;
          this.countries = response.data.result;
        });
      this.$q.loading.hide();
    }
  },
  validations: {
    form1: {
      fname: {
        required
      },
      lname: {
        required
      },
      birth_date: {
        required
      },
      tel_number: {
        numeric,
        required
      },
      mob_number: {
        numeric,
        required
      },
      address_1: {
        required
      },
      address_2: {
        required
      },
      town: {
        required
      },
      country: {
        required
      },
      default_currency: {
        required
      }
    },
    form2: {
      taxRes: {
        required,
        $each: {
          tax_country: {
            required
          },
          id_number: {
            required
          }
        }
      }
    },
    form3: {
      email: {
        required,
        email
      },
      password: {
        required
      },
      confirm_password: {
        sameAsPassword: sameAs("password")
      },
      memorable_question: {
        required
      },
      answer: {
        required
      }
    },
    form4: {
      opt: {
        required
      }
    }
  }
};
</script>

<style lang="scss" scoped></style>
