<template>
  <q-page id="onPurchase" class="q-pa-md">
    <q-header :class="$q.dark.isActive ? 'bg-secondary' : ''" elevated>
      <q-toolbar class="text-accent">
        <q-btn @click="$router.go(-1)" flat round dense icon="las la-angle-left" class="q-mr-sm" />
        <q-toolbar-title>Purchase</q-toolbar-title>
      </q-toolbar>
    </q-header>
    <div class="col-12 text-center q-py-md">
      <p class="text-h6 text-uppercase">
        {{ titles[step - 1] }}
        <br />
      </p>
    </div>
    <q-stepper
      v-model="step"
      ref="stepper"
      contracted
      color="accent"
      done-color="positive"
      active-color="accent"
      animated
    >
      <q-step
        :name="1"
        prefix="1"
        title="Select campaign settings"
        icon="settings"
        :done="step > 1"
      >
        <q-select
          filled
          dense
          emit-value
          map-options
          :error="$v.form1.account_id.$error"
          v-model="form1.account_id"
          :options="accounts"
          option-label="description"
          option-value="id"
          options-selected-class="text-accent"
          label="Investment Account"
          hide-bottom-space
        >
          <template v-slot:error>
            <i v-if="!$v.form1.account_id.required">Please select an account.</i>
          </template>
        </q-select>
        <q-select
          filled
          dense
          emit-value
          map-options
          :error="$v.form1.fund_id.$error"
          v-model="form1.fund_id"
          :options="funds"
          options-selected-class="text-accent"
          option-label="name"
          option-value="id"
          label="Fund Name"
        >
          <template v-slot:error>
            <i v-if="!$v.form1.fund_id.required">Please select a fund.</i>
          </template>
        </q-select>

        <q-radio
          color="accent"
          v-model="form1.is_lumpsum"
          :val="true"
          label="Lump Sum (Minimum £1000)
"
        />
        <q-radio
          color="accent"
          v-model="form1.is_lumpsum"
          :val="false"
          label="Monthly Payments (Minimum £100)"
        />

        <q-input
          filled
          dense
          :error="$v.form1.net_investment.$error || checkMinValue"
          v-model="form1.net_investment"
          label="Amount of Investment"
          type="text"
        >
          <template v-slot:error>
            <i v-if="!$v.form1.net_investment.required">Investment is required.</i>
            <i v-else-if="!$v.form1.net_investment.numeric">Investment should be in numeric value.</i>
            <i v-else-if="checkMinValue">
              Amount should be greater than £{{
              form1.is_lumpsum ? 1000 : 100
              }}.
            </i>
          </template>
        </q-input>
      </q-step>

      <q-step
        :name="2"
        title="Create an ad group"
        caption="Optional"
        icon="create_new_folder"
        prefix="2"
        :done="step > 2"
      >
        <q-card flat>
          <q-card-section>
            <p class="text-bold">FUND DETAILS</p>
            <div class="row q-mt-md">
              <div class="col-4 text-subtitle2">Fund Name:</div>
              <div class="col-8 text-right">Balanced Equity Fund GBP</div>
            </div>
            <div class="row">
              <div class="col-8 text-subtitle2">Amount of Investment:</div>
              <div class="col-4 text-right">£1000</div>
            </div>
          </q-card-section>
          <q-separator class="q-mb-md"></q-separator>
          <p class="text-bold q-pb-sm">DECLARATIONS</p>
          <q-scroll-area style="height: 200px; max-width: 300px;">
            <div>
              <ul>
                <li>
                  The information given in this application form is correct to
                  the best of my/our knowledge and belief.
                </li>
                <li>I am the beneficial owners of this investment.</li>
                <li>
                  I accept that, in accordance with the money laundering
                  regulations, Kensington may require additional information
                  from me and I acknowledge that electronic data sources may be
                  used to check my identity.
                </li>
                <li>
                  I have a copy of the Key Investor Information Document and the
                  Supplementary Information Document and have kept them for my
                  records.
                </li>
                <li>
                  Kensington may hold any personal information provided by me in
                  confidence and in accordance with data protection law. By
                  completing this application form, I consent to the processing
                  of my personal data in accordance with Kensington’s data
                  protection policy which is set out inthe Supplementary
                  Information Document.
                </li>
                <li>
                  I/we understand that I/we will be subject to the data
                  protection and money laundering verification provisions as
                  outlined in the Terms and Conditions and/or Prospectus.
                </li>
                <li>
                  I/we apply to invest in units of the Fund(s) according to the
                  Terms and Conditions and/or Prospectus.
                </li>
                <li>
                  I/we confirm agreement to all Client Money obligations and
                  requirements as detailed in the Client Money section of the
                  Kensington Equity Fund Prospectus
                </li>
                <li>
                  I confirm I have read the KIID for every fund I am investing
                  in.
                </li>
              </ul>
            </div>
          </q-scroll-area>
          <q-separator class="q-mb-md"></q-separator>
          <q-checkbox
            color="accent"
            v-model="form2.accept"
            val="agree"
            label="I agree to the above statements"
            class="text-bold text-uppercase"
          />
          <p class="text-center ensure q-py-md">
            Please ensure that you have cleared funds in your bank account
            before continuing with your investment.
          </p>
        </q-card>
      </q-step>

      <q-step :name="3" prefix="3" title="Payment Information" icon="add_comment" :done="step > 3">
        <p class="text-bold">Payment Information</p>
        <q-input filled dense readonly :value="getUserEmail" label="Email Address" type="text">
          <template v-slot:prepend>
            <q-icon name="las la-envelope" />
          </template>
        </q-input>
      </q-step>

      <q-step :name="4" prefix="4" title="Confirm Investment" icon="add_comment">
        <q-card flat>
          <q-card-section>
            <p class="text-bold">FUND DETAILS</p>
            <div class="row q-mt-md">
              <div class="col-4 text-subtitle2">Fund Name:</div>
              <div class="col-8 text-right">Balanced Equity Fund GBP</div>
            </div>
            <div class="row">
              <div class="col-8 text-subtitle2">Amount of Investment:</div>
              <div class="col-4 text-right">£1000</div>
            </div>
          </q-card-section>
          <q-separator></q-separator>
          <q-card-section v-if="isEmailEnabled  || isWhatsAppEnabled">
            <p class="text-bold">Investment Confirmation</p>
            <p>
              We will send the 6-Digit code to your registered email. Please
              input the code here to confirm your investment
            </p>
            <q-input
              v-model="form4.confirmation_code"
              label="Confirmation code"
              filled
              :error="$v.form4.confirmation_code.$error"
              @input="$v.form4.confirmation_code.$touch()"
              hide-bottom-space
              dense
              :hint="message"
            >
              <template v-slot:error>
                <i v-if="!$v.form4.confirmation_code.required">Confirmation code is required.</i>
              </template>
            </q-input>
            <q-btn
              :label="counter > 0 ? 'Resend (' + counter + ')' : 'Resend'"
              :loading="sending"
              :disable="disableResend"
              @click="sendVerification()"
              size="sm"
              color="secondary"
              class="q-mt-sm full-width"
            >
              <template v-slot:loading>
                <q-spinner-facebook class="on-left" />Sending Code...
              </template>
            </q-btn>
          </q-card-section>
        </q-card>
      </q-step>

      <template v-slot:navigation>
        <q-stepper-navigation>
          <div class="row justify-end">
            <q-btn
              v-if="step > 1"
              flat
              :disable="loadingSubmit"
              @click="$refs.stepper.previous()"
              label="Back"
              class="q-ml-sm on-left"
            />

            <q-btn
              :disable="hasError"
              :loading="loadingSubmit"
              @click="onNext()"
              color="secondary"
              :label="step === 4 ? 'Submit Investment' : 'Continue'"
            />
          </div>
        </q-stepper-navigation>
      </template>
    </q-stepper>

    <q-dialog v-model="successMessage" persistent>
      <q-card style="width: 300px; font-family: 'FiraSans';">
        <q-card-section>
          <!-- <div class="text-h6">{{response.result}}</div> -->
          <div class="row justify-center">
            <q-icon
              :color="response.success ? 'positive' : 'negative'"
              :name="response.success ? 'las la-check-circle' : 'las la-exclamation-circle'"
              size="xl"
            ></q-icon>
          </div>
        </q-card-section>
        <q-separator></q-separator>
        <q-card-section
          v-if="response.success"
          class="q-pt-none text-center text-uppercase"
        >You have successfully purchased Kensington Funds</q-card-section>
        <q-card-section v-else class="q-pt-none text-center text-uppercase">invalid investment</q-card-section>
        <!-- <q-card-section class="q-pt-none">{{response.message}}</q-card-section> -->
        <q-card-section class="q-mx-md q-mb-md">
          <p class="text-center q-ma-none">{{response.message}}</p>
        </q-card-section>
        <q-card-section v-if="response.success">
          <p class="text-subtitle text-center">Please see notifications for full details</p>
        </q-card-section>
        <q-separator></q-separator>
        <q-card-actions align="center">
          <q-btn
            style="width: 50%;"
            class="text-primary bg-accent"
            label="close"
            v-close-popup
            @click="$router.push('/user')"
          />
        </q-card-actions>
      </q-card>
    </q-dialog>

    <!-- <div class="text-h6">{{response.result}}</div> -->
  </q-page>
</template>

<script>
import { required, sameAs, email, numeric } from "vuelidate/lib/validators";
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      successMessage: false,
      response: {},
      loadingSubmit: false,
      message: "",
      counter: 60,
      sending: false,
      disableResend: true,
      formFinal: {},
      form1: {
        is_lumpsum: true
      },
      form2: {
        accept: false
      },

      form4: {},
      accounts: [],
      funds: [],
      hasError: false,
      step: 1,

      titles: [
        "Investments",
        "Review And Declare",
        "Payment Information",
        "Confirm Investments"
      ]
    };
  },
  watch: {
    "form2.accept": "onAccept",
    "form4.confirmation_code": "onConfirmation"
  },
  computed: {
    ...mapGetters("user", [
      "getUserId",
      "getUserEmail",
      "isEmailEnabled",
      "isWhatsAppEnabled"
    ]),
    checkMinValue() {
      let value = 100;
      if (this.form1.is_lumpsum) {
        value = 1000;
      }

      if (this.form1.net_investment >= value) {
        this.hasError = false;
        return false;
      }

      this.hasError = true;
      return true;
    }
  },
  mounted() {
    this.load();
  },
  methods: {
    onAccept() {
      if (this.form2.accept == true) {
        this.hasError = false;
      } else {
        this.hasError = true;
      }
    },
    sendVerification() {
      this.message = "";
      this.sending = true;
      this.counter = 60;
      this.disableResend = true;
      this.$axios
        .post("https://kensington.holbornassets.com//api/sendconfirmation", {
          userId: this.getUserId
        })
        .then(response => {
          if (response.data.success) {
            this.message = response.data.message;
            this.sending = false;
            this.countDownTimer();
          }
        });
    },
    countDownTimer() {
      if (this.counter > 0) {
        setTimeout(() => {
          this.counter -= 1;
          this.countDownTimer();
        }, 1000);
      } else {
        this.disableResend = false;
      }
    },
    onConfirmation() {
      if (this.form4.confirmation_code != "") {
        this.hasError = false;
      }
    },
    onNext() {
      switch (this.step) {
        case 1:
          this.$v.form1.$touch();
          this.hasError = this.$v.form1.$invalid;
          break;
        case 2:
          break;
        case 3:
          if (this.isEmailEnabled || this.isWhatsAppEnabled) {
            this.sendVerification();
          }

          break;
        case 4:
          if (this.isEmailEnabled || this.isWhatsAppEnabled) {
            this.$v.form4.$touch();
            this.hasError = this.$v.form4.$invalid;
            if (!this.$v.form4.$invalid) {
              this.onSubmit();
            }
          } else {
            this.onSubmit();
          }
          break;
        default:
          break;
      }

      if (this.hasError) {
        this.$q.notify({
          color: "negative",
          icon: "warning",
          timeout: 1000,
          message: "Please, check your entries and try again!",
          position: "top",
          actions: [
            {
              icon: "close",
              color: "white",
              handler: () => {
                /* ... */
              }
            }
          ]
        });
      } else {
        this.$refs.stepper.next();
        if (this.step == 2) {
          this.hasError = !this.form2.accept;
        }
      }
    },
    onSubmit() {
      this.loadingSubmit = true;
      this.formFinal = this.$_.merge(this.form1, this.form2, this.form4);
      this.formFinal.userId = this.getUserId;
      this.$axios
        .post(
          "https://kensington.holbornassets.com//api/Invest",
          this.formFinal
        )
        .then(response => {
          this.successMessage = true;
          this.response = response.data;
        })
        .catch(error => {
          this.loadingSubmit = false;
          this.$q.notify({
            color: "negative",
            icon: "warning",
            timeout: 1000,
            message: "Please, check your entries and try again!",
            position: "top",
            actions: [
              {
                icon: "close",
                color: "white",
                handler: () => {
                  /* ... */
                }
              }
            ]
          });
        });
    },
    load() {
      this.$axios
        .post(
          "https://kensington.holbornassets.com//api/getInvestmentAccounts",
          {
            userId: this.getUserId
          }
        )
        .then(response => {
          this.accounts = response.data.result;
        });

      this.$axios
        .post("https://kensington.holbornassets.com//api/getKensingtonFund", {
          userId: this.getUserId
        })
        .then(response => {
          this.funds = response.data.result;
        });
    }
  },
  validations() {
    if (this.isEmailEnabled || this.isWhatsAppEnabled) {
      return {
        form1: {
          account_id: {
            required
          },
          fund_id: {
            required
          },
          net_investment: {
            required,
            numeric
          }
        },
        form4: {
          confirmation_code: {
            required
          }
        }
      };
    } else {
      return {
        form1: {
          account_id: {
            required
          },
          fund_id: {
            required
          },
          net_investment: {
            required,
            numeric
          }
        }
      };
    }
  }
};
</script>

<style lang="scss" scoped></style>
