<template>
  <q-page id="notification">
    <div class="row">
      <div v-if="!$_.isEmpty(notifications)" class="q-pa-md">
        <div class="row">
          <q-card
            v-for="(notification, key) in paginate"
            :key="key"
            class="q-mb-md"
            style="width: 100%;"
          >
            <q-card-section clickable v-ripple @click="selectTransaction(notification.id)">
              <p class="text-subtitle q-mb-none">
                {{ notification.subject }}
                <q-badge v-if="!notification.is_read" align="top" color="info">New</q-badge>
              </p>
              <p class="text-caption q-mb-none text-uppercase">
                Date Requested:
                <span class="text-info">
                  {{
                  getDate(notification.date_sent)
                  }}
                </span>
              </p>
            </q-card-section>
          </q-card>
        </div>
        <div class="q-pa-lg flex flex-center">
          <q-pagination
            v-model="current"
            color="secondary"
            :max="maxPage"
            :max-pages="page_size"
            :boundary-numbers="false"
          ></q-pagination>
        </div>
      </div>
      <div class="q-pa-md" v-else>
        <div class="row">
          <p
            class="text-subtitle text-grey fixed-center text-center no-report"
            style="width: 100%;"
          >**You don't have any notifications yet.**</p>
        </div>
      </div>
    </div>
    <!-- TRANSACTION -->
    <q-dialog v-model="transaction" persistent full-width ref="transactionDialog">
      <q-card>
        <q-toolbar>
          <q-btn class="text-red" flat round dense icon="close" v-close-popup />
          <q-toolbar-title>
            <span
              class="text-left text-accent"
              style="font-family: 'FiraSans';"
            >{{ selectedTransaction.subject }}</span>
          </q-toolbar-title>
        </q-toolbar>
        <q-separator></q-separator>
        <div class="q-pa-md" style="font-family: 'FiraSans';">
          <div class="row items-center">
            <div class="col-3">Subject:</div>
            <div class="col-9">{{ selectedTransaction.subject }}</div>
          </div>
        </div>
        <q-separator></q-separator>
        <div class="q-pa-md" style="font-family: 'FiraSans';">
          <div v-html="selectedTransaction.message"></div>
          <q-separator class="q-mt-lg"></q-separator>
          <div class="row justify-center">
            <q-btn
              label="close"
              color="accent"
              class="q-mt-md btn"
              @click="load()"
              v-close-popup
              style="width: 50%; border-radius: 25px;"
            ></q-btn>
          </div>
        </div>
      </q-card>
    </q-dialog>
  </q-page>
</template>

<script>
import { mapGetters } from "vuex";
import moment from "moment";
export default {
  data() {
    return {
      current: 3,
      transaction: false,
      selectedTransaction: {},
      tab: "transaction",
      email: false,
      tab: "email",
      notifications: [],
      current: 1,
      page_size: 5
    };
  },
  computed: {
    ...mapGetters("user", ["getFullName", "getUserId"]),
    paginate() {
      // human-readable page numbers usually start with 1, so we reduce 1 in the first argument
      return this.notifications.slice(
        (this.current - 1) * this.page_size,
        this.current * this.page_size
      );
    },
    maxPage() {
      let value = this.notifications.length / 5;

      if (this.$_.isInteger(value)) {
        return value;
      }
      return Number(value.toFixed()) + 1;
    }
  },
  mounted() {
    this.load();
  },
  methods: {
    getDate(date) {
      var date = date.substring(1, date.length - 1);

      return moment(date).format("MM/DD/YYYY HH:mm a");
    },
    load() {
      this.$axios
        .post("https://kensington.holbornassets.com//api/getNotifications", {
          userId: this.getUserId
        })
        .then(response => {
          if (response.data.success) {
            this.notifications = response.data.result;
          } else {
            alert("check internet");
          }
        });
    },

    selectTransaction(value) {
      this.$axios
        .post("https://kensington.holbornassets.com//api/getNotification", {
          userId: this.getUserId,
          notifId: value
        })
        .then(response => {
          this.selectedTransaction = response.data.result;
        });
      this.$refs.transactionDialog.show();
    }
  }
};
</script>
