<template>
  <q-page id="transaction" class="q-pa-sm">
    <div class="q-pa-sm">
      <q-card>
        <q-card-section>
          <p class="text-subtitle q-mb-none text-uppercase">Redemption details</p>
        </q-card-section>
        <q-separator></q-separator>
        <q-card-section>
          <div class="row q-mt-sm">
            <div class="col-4 text-uppercase">Reference #:</div>
            <div class="col-8 text-right">{{ transaction.referenceNumber }}</div>
          </div>
          <div class="row q-mt-sm">
            <div class="col-6 text-uppercase">Date Requested:</div>
            <div class="col-6 text-right">{{ transaction.date_added }}</div>
          </div>
          <div class="row q-mt-sm">
            <div class="col-4 text-uppercase" width="30">Account #:</div>
            <div class="col-8 text-right" width="70">
              {{ transaction.accountDescription }} ({{
              transaction.accountNumber
              }})
            </div>
          </div>
          <div class="row q-mt-sm">
            <div class="col-4 text-uppercase">Fund Name:</div>
            <div class="col-8 text-right">{{ transaction.fundName }}</div>
          </div>
          <div class="row q-mt-sm">
            <div class="col-6 text-uppercase">Amount Requested:</div>
            <div class="col-6 text-right">
              {{ transaction.fundCurrency }}
              {{ transaction.netSumInvested.toFixed(2) }}
            </div>
          </div>
          <div class="row q-mt-sm">
            <div class="col-6 text-uppercase">Values in share:</div>
            <div class="col-6 text-right">{{ transaction.number_shares.toFixed(2) }}</div>
          </div>
          <div class="row q-mt-sm">
            <div class="col-4 text-uppercase">Status:</div>
            <div class="col-8 text-right">
              <q-badge color="negative">
                <span>{{ transaction.status }}</span>
              </q-badge>
            </div>
          </div>
        </q-card-section>
      </q-card>
    </div>
    <div class="q-pa-sm">
      <q-card>
        <q-card-section>
          <p class="text-subtitle q-mb-none text-uppercase">Bank details</p>
        </q-card-section>
        <q-separator></q-separator>
        <q-card-section>
          <div class="row q-mt-sm">
            <div class="col-6 text-uppercase">ACCOUNT NUMBER:</div>
            <div class="col-6 text-right">{{ transaction.bankInfo.account_number }}</div>
          </div>
          <div class="row q-mt-sm">
            <div class="col-6 text-uppercase">ACCOUNT NAME:</div>
            <div class="col-6 text-right">{{ transaction.bankInfo.account_name }}</div>
          </div>
        </q-card-section>
      </q-card>
    </div>
    <div class="q-pa-sm">
      <p class="note q-pa-md">
        You will receive and email notification when this redemption funds has
        been settled.
      </p>
    </div>
    <div class="row justify-center">
      <q-btn
        color="accent"
        class="q-mt-sm q-mb-lg btn"
        style="width: 50%"
        @click="$router.go(-1)"
      >Go Back</q-btn>
    </div>
  </q-page>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  props: ["transactionId"],
  data() {
    return {
      transaction: [],
      card: false,
      tab: "transaction"
    };
  },
  computed: {
    ...mapGetters("user", ["getUserId"])
  },
  mounted() {
    this.load();
  },
  methods: {
    load() {
      this.$q.loading.show();
      this.$axios
        .post(
          "https://kensington.holbornassets.com//api/getInvestmentInfoByReferenceId",
          {
            userId: this.getUserId,
            referenceNo: this.transactionId
          }
        )
        .then(response => {
          if (response.data.success) {
            this.transaction = response.data.result;
            this.$q.loading.hide();
          } else {
            this.$q.loading.hide();
            this.$q.notify({
              color: "negative",
              icon: "warning",
              timeout: 1000,
              message: "Check your internet connection!",
              position: "top",
              actions: [
                {
                  icon: "close",
                  color: "white",
                  handler: () => {
                    /* ... */
                  }
                }
              ]
            });
          }
        });
    }
  }
};
</script>
