<template>
  <q-page id="onRedeem">
    <q-header :class="$q.dark.isActive ? 'bg-secondary' : ''" elevated>
      <q-toolbar class="text-accent">
        <q-btn @click="$router.go(-1)" flat round dense icon="las la-angle-left" class="q-mr-sm" />
        <q-toolbar-title>Redeem Request</q-toolbar-title>
      </q-toolbar>
    </q-header>
    <div class="q-pa-md">
      <q-stepper
        v-model="step"
        ref="stepper"
        contracted
        color="accent"
        done-color="positive"
        active-color="accent"
        animated
      >
        <q-step
          :name="1"
          prefix="1"
          title="Select campaign settings"
          icon="settings"
          :done="step > 1"
        >
          <p class="text-center q-mt-none q-mb-md select" style="line-height: 16px;">
            Please select
            <span class="text-accent">Investment Account</span> and
            <span class="text-accent">Fund Name</span>
          </p>
          <div class="full-width">
            <q-card>
              <q-card-section>
                <div class="col">
                  <q-select
                    dense
                    filled
                    emit-value
                    map-options
                    options-selected-class="text-accent"
                    v-model="form1.account_id"
                    :options="accounts"
                    option-label="description"
                    option-value="id"
                    label="Investment Account"
                  />
                  <q-select
                    dense
                    filled
                    emit-value
                    map-options
                    options-selected-class="text-accent"
                    v-model="form1.fund_id"
                    :options="funds"
                    option-label="name"
                    option-value="id"
                    label="Fund Name"
                    @change="checkFundBalance()"
                  />
                </div>
              </q-card-section>
            </q-card>

            <q-card class="q-mt-md">
              <q-card-section>
                <div v-if="fundBalance">
                  <div class="row">
                    <div class="col-5">
                      <p class="text-subtitle q-mb-none">Current Value:</p>
                    </div>
                    <div class="col-7 text-right text-subtitle text-info text-bold">
                      {{
                      fundBalance.current_value
                      ? fundBalance.current_value.toFixed(2)
                      : 0
                      }}
                    </div>
                  </div>
                  <q-separator class="q-my-sm"></q-separator>
                  <div class="row">
                    <div class="col-7">
                      <p class="text-subtitle q-mb-none">Equivalent Shares:</p>
                    </div>
                    <div class="col-5 text-right text-subtitle text-info text-bold">
                      {{
                      fundBalance.total_shares
                      ? fundBalance.total_shares.toFixed(4)
                      : 0
                      }}
                    </div>
                  </div>
                </div>
              </q-card-section>
            </q-card>

            <div class="col q-mt-md">
              <p class="text-h6 text-center text-uppercase q-mb-none">Transaction details</p>
              <p class="text-center q-mt-sm" style="font-size: 12px;">
                Please
                <span class="text-accent">Enter the Amount</span> or
                <span class="text-accent">Percentage</span> for the selected
                fund
              </p>
              <q-card>
                <q-card-section>
                  <div class="row justify-start">
                    <q-radio
                      color="accent"
                      v-model="form1.type"
                      val="percentage"
                      label="Percentage (%)"
                    />
                    <q-radio color="accent" v-model="form1.type" val="amount" label="Amount" />
                  </div>
                  <q-input
                    v-model.number="form1.value"
                    :error="
                      $v.form1.value.$error || checkMaxValue || fundValueError
                    "
                    @input="checkIfValidFund"
                    type="number"
                    filled
                    hide-bottom-space
                  >
                    <template v-slot:error>
                      <i v-if="!$v.form1.value.required">Value is required.</i>
                      <i v-else-if="checkMaxValue">Invalid percentage/amount value.</i>
                      <i
                        v-else-if="fundValueError"
                      >You don't have Investment in any of your account.</i>
                    </template>
                  </q-input>
                </q-card-section>
              </q-card>
            </div>
          </div>
        </q-step>
        <q-step :name="2" prefix="2" title="Check Details" icon="settings" :done="step > 2">
          <div class="row">
            <div class="col">
              <p class="q-mb-sm text-bold text-center">TRANSACTION DETAILS</p>
              <p class="q-mb-sm text-caption text-center">*Please select/choose bank account</p>
              <q-select
                dense
                filled
                emit-value
                map-options
                options-selected-class="text-accent"
                :options="banks"
                v-model="form2.bank_id"
                option-label="bank_name"
                option-value="id"
                label="Select Bank Account"
              />
              <q-input
                filled
                dense
                readonly
                hide-bottom-space
                :value="getAccount()"
                label="Investment Account"
                type="text"
              ></q-input>
              <q-input
                filled
                dense
                readonly
                hide-bottom-space
                :value="getFund()"
                label="Fund Name"
                type="text"
              ></q-input>

              <q-input
                filled
                dense
                readonly
                hide-bottom-space
                :value="
                  fundBalance.current_value
                    ? fundBalance.current_value.toFixed(2)
                    : 0
                "
                label="Current Value"
                type="text"
              ></q-input>
              <q-input
                filled
                dense
                readonly
                hide-bottom-space
                :value="
                  fundBalance.total_shares
                    ? fundBalance.total_shares.toFixed(4)
                    : 0
                "
                label="Number of Shares"
                type="text"
              ></q-input>
              <q-input
                filled
                dense
                readonly
                v-if="form1.type == 'percentage'"
                hide-bottom-space
                :value="form1.value + '%'"
                label="Percentage"
                type="text"
              ></q-input>
              <q-input
                filled
                dense
                readonly
                v-if="form1.type == 'percentage'"
                hide-bottom-space
                :value="
                  form1.value
                    ? (fundBalance.current_value * (form1.value / 100)).toFixed(
                        2
                      )
                    : 0
                "
                label="Equivalent"
                type="text"
              >
                <template v-slot:prepend>
                  <q-icon name="las la-pound-sign" />
                </template>
              </q-input>
              <q-input
                filled
                dense
                v-if="form1.type == 'amount'"
                readonly
                hide-bottom-space
                :value="form1.value ? form1.value.toFixed(2) : 0"
                label="Amount Requested"
                type="text"
              >
                <template v-slot:prepend>
                  <q-icon name="las la-pound-sign" />
                </template>
              </q-input>
            </div>
          </div>
        </q-step>
        <q-step
          :name="3"
          prefix="3"
          title="Confirmation"
          icon="settings"
          :done="step > 3"
          v-if="isEmailEnabled || isWhatsAppEnabled"
        >
          <div class="row">
            <p class="text-bold">Redemption Confirmation</p>
            <p>
              We will send the 6-Digit code to your registered email. Please
              input the code here to confirm your investment
            </p>
            <q-input
              v-model="form3.confirmation_code"
              label="Confirmation code"
              filled
              class="full-width"
              :error="$v.form3.confirmation_code.$error"
              @input="$v.form3.confirmation_code.$touch()"
              hide-bottom-space
              dense
              :hint="message"
            >
              <template v-slot:error>
                <i v-if="!$v.form3.confirmation_code.required">Confirmation code is required.</i>
              </template>
            </q-input>
            <q-btn
              :label="counter > 0 ? 'Resend (' + counter + ')' : 'Resend'"
              :loading="sending"
              :disable="disableResend"
              @click="sendVerification()"
              size="sm"
              color="secondary"
              class="q-mt-sm full-width"
            >
              <template v-slot:loading>
                <q-spinner-facebook class="on-left" />Sending Code...
              </template>
            </q-btn>
          </div>
        </q-step>

        <template v-slot:navigation>
          <q-stepper-navigation>
            <div class="row justify-end">
              <q-btn
                v-if="step > 1"
                flat
                :disable="loadingSubmit"
                @click="$refs.stepper.previous()"
                label="Back"
                class="q-ml-sm on-left"
              />
              <q-btn
                :disable="hasError"
                :loading="loadingSubmit"
                @click="onNext()"
                color="secondary"
                :label="step === 3 ? 'Finish' : 'Continue'"
              />
            </div>
          </q-stepper-navigation>
        </template>
      </q-stepper>
    </div>
    <q-dialog v-model="successMessage" persistent>
      <q-card style="width: 300px; font-family: 'FiraSans';">
        <q-card-section>
          <!-- <div class="text-h6">{{response.result}}</div> -->
          <div class="row justify-center">
            <q-icon
              :color="response.success ? 'positive' : 'negative'"
              :name="
                response.success
                  ? 'las la-check-circle'
                  : 'las la-exclamation-circle'
              "
              size="xl"
            ></q-icon>
          </div>
        </q-card-section>
        <q-separator></q-separator>
        <q-card-section
          v-if="response.success"
          class="q-pt-none text-center text-uppercase"
        >{{ response.message }}</q-card-section>
        <q-card-section v-else class="q-pt-none text-center text-uppercase">Redemption failed</q-card-section>
        <!-- <q-card-section class="q-pt-none">{{response.message}}</q-card-section> -->

        <q-card-section v-if="response.success">
          <p class="text-subtitle text-center">Please see notifications for full details</p>
        </q-card-section>
        <q-separator></q-separator>
        <q-card-actions align="center">
          <q-btn
            style="width: 50%;"
            class="text-primary bg-accent"
            label="close"
            v-close-popup
            @click="$router.push('/user')"
          />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </q-page>
</template>

<script>
import { required, sameAs, email, numeric } from "vuelidate/lib/validators";
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      successMessage: false,
      fundValueError: false,
      response: {},
      step: 1,
      counter: 60,
      sending: false,
      disableResend: true,
      message: "",
      loadingSubmit: false,
      hasError: false,
      loadingSubmit: false,
      formFinal: {},
      banks: [],
      fundName: "",
      form1: {
        type: "percentage"
      },
      form2: {},
      form3: {},
      value: 0,
      shape: "percentage",
      accounts: [],
      funds: [],
      fundBalance: {}
    };
  },
  mounted() {
    this.load();
  },
  watch: {
    "form1.fund_id": "checkFundBalance",
    "form2.bank_id": "onSelectBankId",
    "form3.confirmation_code": "onConfirmation"
  },

  computed: {
    ...mapGetters("user", [
      "getUserId",
      "getUserEmail",
      "isEmailEnabled",
      "isWhatsAppEnabled"
    ]),
    getValue() {
      if (this.value <= 0 || this.value == null) {
        return 0;
      }
      return this.value;
    },
    checkMaxValue() {
      if (this.form1.type == "percentage") {
        if (this.form1.value > 100) {
          this.hasError = true;
          return true;
        } else {
          this.hasError = false;
          return false;
        }
      } else {
        if (this.form1.value > this.fundBalance.current_value) {
          this.hasError = true;
          return true;
        } else {
          this.hasError = false;
          return false;
        }
      }

      this.hasError = true;
      return true;
    }
  },
  methods: {
    checkIfValidFund() {
      if (this.form1.value > this.fundBalance.current_value) {
        this.fundValueError = true;
        console.log(1);
      } else {
        this.fundValueError = false;
      }
    },
    onConfirmation() {
      if (this.form3.confirmation_code != "") {
        this.hasError = false;
      }
    },
    onSelectBankId() {
      if (this.form2.bank_id != "") {
        this.hasError = false;
      }
    },
    getAccount() {
      let v = this.$_.compact(
        this.accounts.map((x, key) => {
          if (x.id == this.form1.account_id) {
            return x.description;
          }
        })
      );

      return v[0];
    },
    getFund() {
      let v = this.$_.compact(
        this.funds.map((x, key) => {
          if (x.id == this.form1.fund_id) {
            return x.name;
          }
        })
      );

      return v[0];
    },
    onNext() {
      switch (this.step) {
        case 1:
          this.$v.form1.$touch();
          this.hasError = this.$v.form1.$invalid;

          if (this.fundBalance.current_value <= 0) {
            this.hasError = true;
            this.fundValueError = true;
          }

          break;

        case 2:
          this.$v.form2.$touch();
          this.hasError = this.$v.form2.$invalid;

          break;
        case 3:
          if (this.isEmailEnabled || this.isWhatsAppEnabled) {
            this.$v.form3.$touch();
            this.hasError = this.$v.form3.$invalid;
            if (!this.$v.form3.$invalid) {
              this.onSubmit();
            }
          } else {
            this.onSubmit();
          }
          break;

        default:
          break;
      }

      if (this.hasError) {
        this.$q.notify({
          color: "negative",
          icon: "warning",
          timeout: 1000,
          message: "Please, check your entries and try again!",
          position: "top",
          actions: [
            {
              icon: "close",
              color: "white",
              handler: () => {
                /* ... */
              }
            }
          ]
        });
      } else {
        this.$refs.stepper.next();
        if (this.step == 3) {
          if (this.isEmailEnabled || this.isWhatsAppEnabled) {
            this.sendVerification();
          }
        } else if (this.step == 2) {
          this.$axios
            .post("https://kensington.holbornassets.com//api/getUserProfile", {
              userId: this.getUserId
            })
            .then(response => {
              this.banks = response.data.result.userBankAccounts;
              // console.log(response);
            });
        }
      }
    },

    checkFundBalance() {
      this.form1.userId = this.getUserId;
      this.$axios
        .post(
          "https://kensington.holbornassets.com//api/checkFundBalance",
          this.form1
        )
        .then(response => {
          this.fundBalance = response.data.result;
        });
    },
    sendVerification() {
      this.message = "";
      this.sending = true;
      this.counter = 60;
      this.disableResend = true;
      this.$axios
        .post("https://kensington.holbornassets.com//api/sendconfirmation", {
          userId: this.getUserId
        })
        .then(response => {
          if (response.data.success) {
            this.message = response.data.message;
            this.sending = false;
            this.countDownTimer();
          }
        });
    },
    countDownTimer() {
      if (this.counter > 0) {
        setTimeout(() => {
          this.counter -= 1;
          this.countDownTimer();
        }, 1000);
      } else {
        this.disableResend = false;
      }
    },
    onSubmit() {
      this.loadingSubmit = true;
      this.formFinal = this.$_.merge(this.form1, this.form2, this.form3);
      console.log(this.form2);
      if (this.form1.type == "percentage") {
        this.formFinal.percentage = this.form1.value;
        this.formFinal.amount = 0;
      } else {
        this.formFinal.percentage = 0;
        this.formFinal.amount = this.form1.value;
      }
      this.formFinal.userId = this.getUserId;
      this.$axios
        .post(
          "https://kensington.holbornassets.com//api/Redeem",
          this.formFinal
        )
        .then(response => {
          this.successMessage = true;
          this.response = response.data;
        })
        .catch(error => {
          this.loadingSubmit = false;
          this.$q.notify({
            color: "negative",
            icon: "warning",
            timeout: 1000,
            message: "Please, check your entries and try again!",
            position: "top",
            actions: [
              {
                icon: "close",
                color: "white",
                handler: () => {
                  /* ... */
                }
              }
            ]
          });
        });
    },
    load() {
      this.$axios
        .post(
          "https://kensington.holbornassets.com//api/getInvestmentAccounts",
          {
            userId: this.getUserId
          }
        )
        .then(response => {
          this.accounts = response.data.result;
        });

      this.$axios
        .post("https://kensington.holbornassets.com//api/getKensingtonFund", {
          userId: this.getUserId
        })
        .then(response => {
          this.funds = response.data.result;
        });
    }
  },
  validations: {
    form1: {
      account_id: {
        required
      },
      fund_id: {
        required
      },
      type: {
        required
      },
      value: {
        required,
        numeric
      }
    },
    form2: {
      bank_id: {
        required
      }
    },
    form3: {
      confirmation_code: {
        required
      }
    }
  }
};
</script>

<style lang="scss" scoped></style>
