<template>
  <div class="fixed-center text-center full-width">
    <p class="q-mb-none">
      <img src="~assets/under-construction.png" style="width:30vw;max-width:150px;" />
      <!-- <q-icon name="las la-frown" size="6em"></q-icon> -->
    </p>
    <p class="text-h6 text-uppercase text-bold q-mb-none">under construction</p>
    <p class="text-faded">We're currently working on this page</p>
    <q-btn
      outline
      style="width:150px; border-radius: 18px;"
      @click="$router.go(-1)"
      label="Go Back"
      class="q-mt-md"
    />
  </div>
</template>

<script>
export default {
  name: "Error404"
};
</script>
