<template>
  <q-page id="home" class="flex flex-center">
    <div style="width:100%;" class="q-pa-sm">
      <div class="row column">
        <div class="col q-pa-md self-center">
          <img alt="Kensington logo" class="logo" src="~assets/logo-white.png" />
        </div>
        <div class="q-pa-md q-mt-md">
          <div class="q-px-lg">
            <div class="col">
              <q-btn
                size="lg"
                @click="login()"
                color="accent"
                class="q-mb-sm full-width text-size"
                label="Sign In"
                style="border-radius: 25px;"
              />
            </div>
            <div class="col">
              <q-btn
                size="lg"
                outline
                color="primary"
                to="/register"
                class="text-white full-width text-size"
                label="Register"
                style="border-radius: 25px;"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
export default {
  name: "PageIndex",
  methods: {
    login() {
      this.$router.push("/login");
    }
  }
};
</script>
