<template>
  <q-pull-to-refresh @refresh="reload" color="accent" id="history">
    <div class="row q-pa-md">
      <p class="title">Trading History</p>
    </div>
    <div class="row q-px-md q-p-y-none">
      <q-timeline color="accent" v-if="!$_.isEmpty(history)">
        <q-timeline-entry
          v-for="(investment, key) in paginate"
          :key="key"
          :title="
            investment.transactionType == 201
              ? 'Type: Purchase'
              : 'Type: Redeem'
          "
          :subtitle="investment.date_added"
          :icon="investment.transactionType == 201 ? 'shopping_cart' : 'redeem'"
        >
          <p class="account">
            Account:
            <span class="text-bold">
              {{ investment.accountDescription }} (
              {{ investment.accountNumber }} )
            </span>
          </p>
          <p class="reference">
            Reference No:
            <span class="ref text-bold">{{ investment.referenceNumber }}</span>
          </p>
          <p class="fund-name">
            Fund Name:
            <span class="text-bold">{{ investment.fundName }}</span>
          </p>
          <div class="row justify-end">
            <q-btn
              @click="
                getInvestment(
                  investment.transactionType,
                  investment.referenceNumber
                )
              "
              class="view btn"
              icon-right="las la-chevron-circle-right"
              style="border-radius: 18px;"
            >View Transaction</q-btn>
          </div>
          <q-separator class="separator"></q-separator>
        </q-timeline-entry>
      </q-timeline>
      <div v-else>
        <div class="row">
          <p
            class="text-subtitle text-grey fixed-center text-center no-report"
            style="width: 100%;"
          >**No trading history to be display**</p>
        </div>
      </div>
    </div>
    <div class="q-pa-lg flex flex-center">
      <q-pagination
        v-model="current"
        color="secondary"
        :max="maxPage"
        :max-pages="page_size"
        :boundary-numbers="false"
      ></q-pagination>
    </div>
  </q-pull-to-refresh>
</template>
<script>
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      history: [],
      current: 1,
      page_size: 5
    };
  },
  computed: {
    ...mapGetters("user", ["getUserId"]),
    paginate() {
      // human-readable page numbers usually start with 1, so we reduce 1 in the first argument

      console.log(
        this.history.slice(
          (this.current - 1) * this.page_size,
          this.current * this.page_size
        )
      );
      return this.history.slice(
        (this.current - 1) * this.page_size,
        this.current * this.page_size
      );
    },
    maxPage() {
      let value = this.history.length / 5;

      if (this.$_.isInteger(value)) {
        return value;
      }
      return Number(value.toFixed()) + 1;
    }
  },
  mounted() {
    this.load();
  },

  methods: {
    reload(done) {
      this.$q.loading.show();
      this.$axios
        .post(
          "https://kensington.holbornassets.com//api/getUserInvestmentHistory",
          {
            userId: this.getUserId
          }
        )
        .then(response => {
          if (response.data.success) {
            this.$q.loading.hide();
            done();
            this.history = response.data.result.userInvestments;
          } else {
            this.$q.loading.hide();
            this.$q.notify({
              color: "negative",
              icon: "warning",
              timeout: 1000,
              message: "Check your internet connection!",
              position: "top",
              actions: [
                {
                  icon: "close",
                  color: "white",
                  handler: () => {
                    /* ... */
                  }
                }
              ]
            });
          }
        });
    },
    getInvestment(type, referenceNumber) {
      if (type != 202) {
        this.$router.push("/purchase/" + referenceNumber);
      } else {
        this.$router.push("/redemption/" + referenceNumber);
      }
    },
    load() {
      this.$q.loading.show();
      this.$axios
        .post(
          "https://kensington.holbornassets.com//api/getUserInvestmentHistory",
          {
            userId: this.getUserId
          }
        )
        .then(response => {
          if (response.data.success) {
            this.$q.loading.hide();
            this.history = response.data.result.userInvestments;
          } else {
            this.$q.loading.hide();
            this.$q.notify({
              color: "negative",
              icon: "warning",
              timeout: 1000,
              message: "Check your internet connection!",
              position: "top",
              actions: [
                {
                  icon: "close",
                  color: "white",
                  handler: () => {
                    /* ... */
                  }
                }
              ]
            });
          }
        });
    }
  }
};
</script>
