<template>
  <q-pull-to-refresh id="user" color="accent" @refresh="reLoad">
    <q-page>
      <div class="row column q-px-md q-pb-none q-pt-md">
        <p class="title">Pending Transaction</p>
        <div class="col-12">
          <q-table
            :dense="$q.screen.xs"
            :data="data"
            :columns="columns"
            row-key="name"
            :filter="'pending'"
          >
            <template v-slot:body="props">
              <q-tr :props="props">
                <q-td key="referenceNumber" :props="props">
                  <router-link
                    v-if="props.row.transactionType == 202"
                    class="text-info"
                    :to="'redemption/' + props.row.referenceNumber"
                  >{{ props.row.referenceNumber }}</router-link>
                  <router-link
                    v-else
                    class="text-info"
                    :to="'purchase/' + props.row.referenceNumber"
                  >{{ props.row.referenceNumber }}</router-link>
                </q-td>
                <q-td key="accountNumber" :props="props">{{ props.row.accountNumber }}</q-td>
                <q-td key="status" :props="props">
                  <q-badge color="negative">{{ props.row.status }}</q-badge>
                </q-td>
              </q-tr>
            </template>
          </q-table>
        </div>
      </div>
      <div style="width:100%;" class="q-pa-md">
        <div class="row column">
          <p class="title">My Investments</p>
          <div class="col">
            <q-expansion-item
              group="somegroup"
              v-for="(fund, key) in funds"
              :key="key"
              expand-separator
              class="expansion shadow-3 q-mt-sm"
            >
              <template v-slot:header>
                <q-item-section>
                  <p class="fundname">{{ fund.fundName }}</p>
                  <p class="text-grey">
                    Net sum invested:
                    <span>£{{ fund.netSumInvested }}</span>
                  </p>

                  <p class="text-grey">
                    Current Price:
                    <span>${{ fund.fundPrice }}</span>
                    ({{ fund.fundLastUpdate }})
                  </p>
                </q-item-section>
              </template>
              <q-separator class="q-mb-md"></q-separator>
              <q-card class="transparent">
                <q-card-section v-for="(account, key) in fund.investmentAccounts" :key="key">
                  <q-separator v-if="key != 0" class="q-mb-md q-mt-md"></q-separator>
                  <div class="row">
                    <p class="account">{{ account.description }} ({{ account.referenceNumber }})</p>
                  </div>
                  <div class="row">
                    <div class="col-8">
                      <p class>Number of Shares:</p>
                    </div>
                    <div class="col-4 text-right">
                      <p>{{ account.numberShares.toFixed(4) }}</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-8">
                      <p class>Current Value:</p>
                    </div>
                    <div class="col-4 text-right">
                      <p>$ {{ account.currentValue.toFixed(2) }}</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-8">
                      <p>Net Sum of Investments:</p>
                    </div>
                    <div class="col-4 text-right">
                      <p>$ {{ account.netSumInvested }}</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-4">
                      <p>Change:</p>
                    </div>
                    <div class="col-8 text-right">
                      <p>
                        <span class="text-positive">
                          $ {{
                          account.change.toFixed(2)
                          }}({{
                          account.percentage.toFixed(2)
                          }})
                        </span>
                      </p>
                    </div>
                  </div>
                </q-card-section>
              </q-card>
            </q-expansion-item>
          </div>
        </div>
      </div>
    </q-page>
  </q-pull-to-refresh>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      count: 1,
      funds: [],
      data: [],
      columns: [
        {
          name: "referenceNumber",
          label: "Reference #",
          field: "referenceNumber",
          align: "left"
        },
        {
          name: "accountNumber",
          label: "Account #",
          field: "accountNumber",
          align: "center",
          sortable: true,
          sort: (a, b) => parseInt(a, 10) - parseInt(b, 10)
        },
        {
          name: "status",
          label: "Status",
          field: "status",
          align: "right",
          sortable: true,
          sort: (a, b) => parseInt(a, 10) - parseInt(b, 10)
        }
      ]
    };
  },

  computed: {
    ...mapGetters("user", ["getUserId"])
  },
  mounted() {
    this.load();
  },
  methods: {
    load() {
      this.$q.loading.show();
      this.$axios
        .post(
          "https://kensington.holbornassets.com//api/getUserInvestmentHistory",
          {
            userId: this.getUserId
          }
        )
        .then(response => {
          this.data = response.data.result.userInvestments;
          this.$q.loading.hide();
        });
      this.$axios
        .post("https://kensington.holbornassets.com//api/overview", {
          userId: this.getUserId
        })
        .then(response => {
          if (response.data.success) {
            this.funds = response.data.result;
          } else {
            this.$q.notify({
              color: "negative",
              icon: "warning",
              timeout: 1000,
              message: "Check your internet connection!",
              position: "top",
              actions: [
                {
                  icon: "close",
                  color: "white",
                  handler: () => {
                    /* ... */
                  }
                }
              ]
            });
          }
        });
    },
    reLoad(done) {
      this.$q.loading.show();
      this.$axios
        .post(
          "https://kensington.holbornassets.com//api/getUserInvestmentHistory",
          {
            userId: this.getUserId
          }
        )
        .then(response => {
          this.data = response.data.result.userInvestments;
          this.$q.loading.hide();
        });
      this.$axios
        .post("https://kensington.holbornassets.com//api/overview", {
          userId: this.getUserId
        })
        .then(response => {
          if (response.data.success) {
            done();
            this.funds = response.data.result;
            this.$q.loading.hide();
          } else {
            done();
            this.$q.loading.hide();
            this.$q.notify({
              color: "negative",
              icon: "warning",
              timeout: 1000,
              message: "Check your internet connection!",
              position: "top",
              actions: [
                {
                  icon: "close",
                  color: "white",
                  handler: () => {
                    /* ... */
                  }
                }
              ]
            });
          }
        });
    }
  }
};
</script>

<style lang="scss" scoped></style>
