<template>
  <q-page id="statement">
    <div class="row q-px-md q-pt-md q-pb-none">
      <p class="title q-mt-sm">My Statements</p>
    </div>
    <!-- <div class="row">
      <p
        class="text-subtitle text-grey fixed-center text-center no-report"
        style="width: 100%;"
      >**No Statement Report Generated**</p>
    </div>-->
    <div class="q-px-md">
      <q-card class="q-mb-md">
        <q-card-section>
          <div class="row q-pa-md items-center">
            <div class="col-8">
              <p class="statement-title q-mb-none">Statement Title here</p>
              <span class="date text-grey">
                24/02/2020
                09:25:00 AM
              </span>
            </div>
            <div class="col-4 row justify-end">
              <q-btn class="download" color="accent" label="download"></q-btn>
            </div>
          </div>
        </q-card-section>
      </q-card>
      <q-card class="q-mb-md">
        <q-card-section>
          <div class="row q-pa-md items-center">
            <div class="col-8">
              <p class="statement-title q-mb-none">Statement Title here</p>
              <span class="date text-grey">
                24/02/2020
                09:25:00 AM
              </span>
            </div>
            <div class="col-4 row justify-end">
              <q-btn class="download" color="accent" label="download"></q-btn>
            </div>
          </div>
        </q-card-section>
      </q-card>
    </div>
  </q-page>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
</style>