<template>
  <q-page id="transaction" class="q-pa-md">
    <div class="q-pa-sm">
      <q-card>
        <q-card-section>
          <p class="text-subtitle q-mb-none text-uppercase">Purchase details</p>
        </q-card-section>
        <q-separator></q-separator>
        <q-card-section>
          <div class="row q-mb-sm">
            <div class="col-4 text-uppercase">Reference #:</div>
            <div class="col-8 text-right">{{ transaction.referenceNumber }}</div>
          </div>
          <div class="row q-mb-sm">
            <div class="col-5 text-uppercase">Date Requested:</div>
            <div class="col-7 text-right">{{ transaction.date_added }}</div>
          </div>
          <div class="row q-mb-sm">
            <div class="col-4 text-uppercase" width="30">Account #:</div>
            <div
              class="col-8 text-right"
            >{{ transaction.accountDescription }} ({{ transaction.accountNumber }})</div>
          </div>
          <div class="row q-mb-sm">
            <div class="col-4 text-uppercase">Fund Name:</div>
            <div class="col-8 text-right">{{ transaction.fundName }}</div>
          </div>
          <div class="row q-mb-sm">
            <div class="col-6 text-uppercase">Amount Bought:</div>
            <div class="col-6 text-right">$ {{ transaction.netSumInvested }}</div>
          </div>
          <div class="row q-mb-sm">
            <div class="col-5 text-uppercase">Payment Type:</div>
            <div class="col-7 text-right">{{ transaction.paymentType }}</div>
          </div>
          <div class="row q-mb-sm">
            <div class="col-4 text-uppercase">Status:</div>
            <div class="col-8 text-right">
              <q-badge color="negative">
                <span>{{ transaction.status }}</span>
              </q-badge>
            </div>
          </div>
        </q-card-section>
      </q-card>
      <div class="q-pa-sm">
        <p
          class="note q-pa-md"
        >You will receive an email notification when this reconcilation of funds has been completed.</p>
      </div>
      <div class="row justify-center">
        <q-btn color="accent" style="width: 50%" @click="$router.go(-1)" class="btn">Go Back</q-btn>
      </div>
    </div>
  </q-page>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  props: ["transactionId"],
  data() {
    return {
      transaction: [],
      card: false,
      tab: "transaction"
    };
  },
  computed: {
    ...mapGetters("user", ["getUserId"])
  },
  mounted() {
    this.load();
  },
  methods: {
    load() {
      this.$q.loading.show();
      this.$axios
        .post(
          "https://kensington.holbornassets.com//api/getInvestmentInfoByReferenceId",
          {
            userId: this.getUserId,
            referenceNo: this.transactionId
          }
        )
        .then(response => {
          if (response.data.success) {
            this.transaction = response.data.result;
            this.$q.loading.hide();
          } else {
            this.$q.loading.hide();
            this.$q.notify({
              color: "negative",
              icon: "warning",
              timeout: 1000,
              message: "Check your internet connection!",
              position: "top",
              actions: [
                {
                  icon: "close",
                  color: "white",
                  handler: () => {
                    /* ... */
                  }
                }
              ]
            });
          }
        });
    }
  }
};
</script>
