<template>
  <q-card>
    <q-expansion-item
      group="somegroup"
      label="Your Tax Residency"
      expand-separator
      class="expansion q-mb-sm text-h6"
    >
      <template v-slot:header>
        <q-item-section>
          <span class="text-h6">{{ bank.bank_name }}</span>
          <span class="text-caption">{{ bank.account_number }}</span>
        </q-item-section>
      </template>
      <q-separator></q-separator>
      <q-card>
        <q-card-section>
          <q-input
            filled
            dense
            v-model="form.bank_name"
            :disable="disabled"
            label="Bank Account"
            type="text"
          ></q-input>

          <q-input
            filled
            dense
            v-model="form.account_number"
            :disable="disabled"
            label="Account Number"
            type="text"
          ></q-input>

          <q-input
            filled
            dense
            v-model="form.account_name"
            :disable="disabled"
            label="Account Name"
            type="text"
          ></q-input>

          <q-input
            filled
            dense
            v-model="form.iban_number"
            :disable="disabled"
            label="IBAN Number"
            type="text"
          ></q-input>

          <q-input
            filled
            dense
            v-model="form.swift_code"
            :disable="disabled"
            label="Swift Code"
            type="text"
          ></q-input>
        </q-card-section>
        <q-card-section>
          <q-separator></q-separator>
          <q-card-actions>
            <q-btn
              class="edit q-mr-sm"
              size="sm"
              flat
              label="Edit"
              @click="disabled = !disabled"
              v-if="disabled"
              icon="edit"
            />
            <q-btn
              class="q-mr-sm"
              size="sm"
              color="blue"
              flat
              label="Save"
              @click="onSave()"
              v-if="!disabled"
              icon="save"
            />
            <q-btn
              label="Delete"
              size="sm"
              flat
              color="negative"
              @click="onDelete()"
              icon="delete"
            />
          </q-card-actions>
        </q-card-section>
      </q-card>
    </q-expansion-item>
  </q-card>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  props: {
    bank: Array | Object
  },
  computed: {
    ...mapGetters("user", ["getUserId"])
  },
  mounted() {
    this.setValue();
  },
  watch: {
    bank: "setValue"
  },
  data() {
    return {
      form: {},
      disabled: true
    };
  },
  methods: {
    setValue() {
      this.form = this.bank;
    },
    onDelete() {
      this.$q
        .dialog({
          title: "Confirm",
          message: "Are you sure you want to remove this bank account?",
          ok: {
            color: "accent"
          },
          cancel: {
            color: "secondary"
          },
          persistent: true
        })
        .onOk(() => {
          this.$axios
            .post(
              "https://kensington.holbornassets.com/api/removebankaccount",
              {
                userId: this.getUserId,
                bankId: this.form.id
              }
            )
            .then(response => {
              if (response.data.success) {
                this.$q.notify({
                  color: "negative",
                  icon: "check_circle",
                  timeout: 1000,
                  message: "Bank account removed successfully!",
                  position: "top",
                  actions: [
                    {
                      icon: "close",
                      color: "white",
                      handler: () => {
                        /* ... */
                      }
                    }
                  ]
                });

                this.$emit("reload");
              } else {
                this.$q.notify({
                  color: "negative",
                  icon: "check_circle",
                  timeout: 1000,
                  message: "Server Error!",
                  position: "top",
                  actions: [
                    {
                      icon: "close",
                      color: "white",
                      handler: () => {
                        /* ... */
                      }
                    }
                  ]
                });
              }
            });
        });
    },
    onSave() {
      console.log(this.form);
      this.form.userId = this.getUserId;
      this.form.bankId = this.form.id;
      this.$axios
        .post(
          "https://kensington.holbornassets.com//api/updatebankaccount",
          this.form
        )
        .then(response => {
          if (response.data.success) {
            this.disabled = !this.disabled;
            this.$emit("reload");
          }
        });
    }
  }
};
</script>

<style lang="scss" scoped></style>
