<template>
  <q-expansion-item
    expand-separator
    class="expansion shadow-3 q-mt-sm text-h6"
    :label="residency.id_number"
    caption="Tax Identification Number"
  >
    <q-separator></q-separator>
    <q-card>
      <q-card-section>
        <div class="col-12 q-px-none">
          <q-input
            filled
            dense
            :disable="disabled"
            v-model="form.id_number"
            label="Tax Residency Number"
            type="text"
          ></q-input>
        </div>
        <div class="col-12 q-py-sm q-px-none">
          <q-select
            filled
            dense
            :disable="disabled"
            :loading="loadingCountry"
            v-model="form.tax_country"
            :options="countries"
            :option-value="opt => opt.iso"
            :option-label="opt => opt.name"
            map-options
            emit-value
            options-selected-class="text-accent"
            label="Country"
          />
        </div>
      </q-card-section>
      <q-card-section>
        <q-separator></q-separator>
        <q-card-actions>
          <q-btn
            class="edit q-mr-sm"
            size="sm"
            flat
            v-if="disabled"
            label="Edit"
            @click="disabled = !disabled"
            icon="edit"
          />
          <q-btn
            class="q-mr-sm"
            size="sm"
            color="blue"
            flat
            label="Save"
            @click="onSave()"
            v-if="!disabled"
            icon="save"
          />
          <q-btn label="Delete" size="sm" flat color="negative" @click="onDelete()" icon="delete" />
        </q-card-actions>
      </q-card-section>
    </q-card>
  </q-expansion-item>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  props: {
    residency: Array | Object
  },
  data() {
    return {
      form: {},
      disabled: true,
      loadingCountry: false,
      countries: []
    };
  },
  computed: {
    ...mapGetters("user", ["getUserId"])
  },
  watch: {
    residency: "setValue"
  },
  mounted() {
    this.setValue();
    this.getCountries();
  },
  methods: {
    setValue() {
      this.form = this.residency;
    },
    onSave() {
      this.form.userId = this.getUserId;
      this.form.taxResId = this.residency.id;
      this.$axios
        .post(
          "https://kensington.holbornassets.com/api/updatetaxresidency",
          this.form
        )
        .then(response => {
          this.disabled = true;
          this.$q.notify({
            color: "positive",
            icon: "check_circle",
            timeout: 1000,
            message: response.data.message,
            position: "top",
            actions: [
              {
                icon: "close",
                color: "white",
                handler: () => {
                  /* ... */
                }
              }
            ]
          });
          this.$emit("update");
        });
    },
    onDelete() {
      this.$q
        .dialog({
          title: "Confirm",
          message: "Are you sure you want to remove this Tax residency?",
          ok: {
            color: "accent"
          },
          cancel: {
            color: "secondary"
          },
          persistent: true
        })
        .onOk(() => {
          this.$axios
            .post(
              "https://kensington.holbornassets.com/api/removetaxresidency",
              {
                userId: this.getUserId,
                taxResId: this.form.id
              }
            )
            .then(response => {
              if (response.data.success) {
                this.$q.notify({
                  color: "positive",
                  icon: "check_circle",
                  timeout: 1000,
                  message: response.data.message,
                  position: "top",
                  actions: [
                    {
                      icon: "close",
                      color: "white",
                      handler: () => {
                        /* ... */
                      }
                    }
                  ]
                });

                this.$emit("update");
              } else {
                this.$q.notify({
                  color: "negative",
                  icon: "warning",
                  timeout: 1000,
                  message: "Server Error!",
                  position: "top",
                  actions: [
                    {
                      icon: "close",
                      color: "white",
                      handler: () => {
                        /* ... */
                      }
                    }
                  ]
                });
              }
            });
        });
    },
    getCountries() {
      this.loadingCountry = true;
      this.$axios
        .get("https://kensington.holbornassets.com//api/getCountry")
        .then(response => {
          this.loadingCountry = false;
          this.countries = response.data.result;
        });
    }
  }
};
</script>

<style lang="scss" scoped>
</style>