#profile-home {
  .profile-block {
    background-color: #5a6059 !important;
    padding: 25px;
    width: 100%;
    margin: 0 !important;
    max-height: 130px;
    text-align: center;

    .profile-photo {
      width: 70px;
      height: 70px;
      border: 3px solid white;
      border-radius: 50%;
    }
  }

  .q-field--outlined .q-field__control:before {
    border: 1px solid var(--q-color-secondary);
  }

  .text-caption {
    font-size: 10px;
    line-height: 12px;
  }

  // .personal-info {
  //   margin: 10px 0 0;
  // }

  .title {
    margin: 10px 0 0;
    font-size: 16px;
  }


}
