// app global css in SCSS form
:root {
  --text-light: #ffffff;
  --text-dark: #434842;
}

@font-face {
  font-family: FiraSans;
  src: url("../assets/fonts/firasans/FiraSans-Regular.ttf");
}

// declare a class which applies it
#q-app {
  font-family: "FiraSans";
}

.body--light {
  background-color: #f6fafd;
  color: var(--text-dark);


  .q-field__control {
    input {
      color: var(--q-color-secondary) !important;
    }

    .q-field__label {
      color: var(--q-color-secondary) !important;
    }

    margin-top: 10px;
  }

  .invest {
    background-color: var(--q-color-accent);
    color: var(--q-color-primary);
  }

  #profile-home {
    .col-3 {
      background-color: var(--q-color-primary);
      box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
    }
  }

  #user {
    .q-table--dense .q-table thead tr {
      color: var(--text-dark);
    }

    .expansion {
      background-color: var(--q-color-primary);
    }
  }

  #history {
    p.reference {
      span.ref {
        color: var(--q-color-info);
      }
    }
  }

  #bankaccounts {
    .expansion {
      background-color: var(--q-color-primary);
    }
  }

  #taxresidency {
    .expansion {
      background-color: var(--q-color-primary);
    }

    .edit {
      background-color: var(--q-color-primary);
    }
  }
}

.body--dark {
  background-color: #212531 !important;
  color: var(--text-light);


  .q-field__control {
    input {
      color: var(--q-color-primary) !important;
    }

    .q-field__label {
      color: var(--q-color-primary) !important;
    }

    margin-top: 10px;
  }

  .invest {
    background-color: var(--q-color-secondary);
    color: var(--q-color-primary);
  }

  #profile-home {
    .col-3 {
      background-color: var(--q-color-secondary);
      border-radius: 5px;
    }
  }

  #history {
    p.reference {
      span.ref {
        color: var(--q-color-info);
      }
    }

    .view {
      background-color: var(--q-color-dark);
    }
  }

  #user {
    .q-table--dense .q-table thead tr {
      color: var((--text-light));
    }

    .expansion {
      background-color: var(--q-color-dark);
    }
  }

  #bankaccounts {
    .expansion {
      background-color: var(--q-color-secondary);
    }
  }

  #taxresidency {
    .expansion {
      background-color: var(--q-color-dark);
    }

    .edit {
      background-color: var(--q-color-secondary);
    }

  }

  #transaction {
    .back {
      color: var(--q-color-primary);
    }
  }

  #trade {

    .purchase-btn,
    .redeem-btn {
      background-color: var(--q-color-secondary);
    }
  }
}

body {
  color: #434842;
}

.q-btn__wrapper {
  padding: 2px 10px;
  min-height: 15px;
  border-radius: inherit;
  width: 100%;
  height: 100%;
}

.q-btn__wrapper:before {
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.2);
}

.q-toolbar__title {
  font-size: 12px;
  text-transform: uppercase;
}

.q-btn {
  padding: 5px;
}

.q-tab--active {
  background-color: #212531;
}

.q-expansion-item--standard.q-expansion-item--expanded>div>.q-expansion-item__border {
  opacity: 0;
}

.q-toolbar {
  padding: 0;
}

.q-card__section--vert {
  padding: 15px;
}

@import "./home.scss";
@import "./login.scss";
@import "./User.scss";
@import "./MainLayout.scss";
@import "./account.scss";
@import "./notification.scss";
@import "./history.scss";
@import "./BankAccount.scss";
@import "./personaldocuments.scss";
@import "./taxresidency.scss";
@import "./securitysettings.scss";
@import "./transaction.scss";
@import "./register.scss";
@import "./statement.scss";
