#bankaccounts {
  // .expansion {
  //   border-top: 5px solid var(--q-color-secondary);
  //   border-radius: 5px;
  // }

  .bankaccount {
    text-transform: uppercase;
    margin: 10px 0;
  }

  .title {
    font-size: 14px;
  }

  .text-right {
    font-size: 14px;
  }

  .q-card__section--vert {
    padding: 10px 15px;
  }

  .q-expansion-item--expanded {
    background-color: var(--q-color-primary);
  }
}
