#history {
  p.title {
    text-transform: uppercase;
    font-size: 20px;
    margin: 10px 0 0;
  }

  .q-timeline {
    margin: 0;
  }

  .q-timeline__content {
    font-size: 12px;
  }

  .q-timeline__title {
    font-size: 14px;
    margin-bottom: 5px;
  }

  p.fund-name,
  p.reference,
  p.account {
    opacity: 0.8;
    margin-bottom: 0;

    span.ref {
      // background-color: var(--q-color-info);
      padding: 2px 4px;
      // color: var(--q-color-secondary);
      margin-left: 2px;
      border-radius: 3px;
      text-decoration: underline;
    }
  }

  .separator {
    margin-top: 20px;
  }

  .view {
    margin-top: 10px;
    padding: 3px 8px;
    font-size: 12px;
    text-transform: capitalize;
  }

  .q-btn .q-icon {
    font-size: 1.2em;
    margin-left: 5px;
  }


}
