#login {
  .logo {
    width: 190px;
    height: 160px;
  }

  // .q-field--outlined .q-field__control:before {
  //   border: 1px solid var(--q-color-primary);
  // }

  .q-field__control {
    input {
      color: var(--q-color-primary) !important;
    }

    .q-field__label {
      color: var(--q-color-primary) !important;
    }

    margin-top: 10px;
  }

  .q-field__messages {
    color: white;
  }
}
