#mainLayout {


  .fade-enter-active,
  .fade-leave-active {
    transition: opacity 0.5s;
  }

  .fade-enter,
  .fade-leave-to

  /* .fade-leave-active below version 2.1.8 */
    {
    opacity: 0;
  }

  p.title {
    text-transform: uppercase;
    font-size: 20px;
  }

  .q-btn--fab .q-btn__wrapper {
    min-height: 40px;
    min-width: 40px;
  }

  .q-item {
    padding: 8px 16px;
  }

  .q-tab__content {
    padding: 0;
  }

  .q-tab__label {
    font-size: 8px;
    margin: 0;
  }

  .q-expansion-item--expanded {
    background-color: var(--q-color-dark);

    .title {
      color: var(--q-color-primary);
    }
  }

  .pa-none {
    padding: 0;
  }

  .pa-sm {
    padding: 8px 25px;
  }

  .logout {
    bottom: 6px;
  }

  .q-card__section--vert {
    padding: 0 15px;
  }

  .sub {
    font-size: 12px;
  }

  .btn {
    border-radius: 25px;
  }

  .btn-logout,
  .btn-cancel {
    font-size: 12px;
    text-transform: uppercase;
  }

}
