#notification {

  .text-subtitle {
    font-size: 14px;
    margin-bottom: 5px;
  }

  .text-caption {
    font-size: 12px;
    opacity: 0.8;
    margin-left: 2px;
  }

  .q-card-section p {
    margin: 0;
  }

  .text-uppercase {
    font-size: 12px;
    opacity: 0.7;
  }

  .q-item {
    padding: 8px 0;
  }

  .q-tab__label {
    font-size: 10px;
  }

  .q-tab-panel {
    padding: 0 16px;
  }

  .q-tabs--dense .q-tab {
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.50);
  }

  .q-item__section--main~.q-item__section--side {
    opacity: 0.7;
    font-size: 12px;
  }
}
