#personaldocuments {
  .personaldocuments {
    text-align: center;
    text-transform: uppercase;
    margin: 10px 0 0;
  }

  .subtitle {
    font-size: 12px;
    opacity: 0.8;
    margin-bottom: 0;
  }

  .q-uploader {
    margin-bottom: 10px;
  }

  .q-uploader__title {
    font-weight: 400;
  }
}
