#statement {
  .statement-title {
    font-size: 14px;
    text-transform: uppercase;
  }

  .date {
    font-size: 12px;
  }

  .download {
    font-size: 10px;
    text-transform: uppercase;
  }

}
