#taxresidency {
  .taxresidency {
    text-align: center;
    text-transform: uppercase;
    margin: 10px 0;
  }

  .subtitle {
    font-size: 12px;
    // opacity: 0.8;
    margin-bottom: 10px;
  }

  .expansion {
    // border-top: 5px solid var(--q-color-secondary);
    border-radius: 5px;
    font-size: 20px;
  }

  .q-card p {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 10px;
  }

  .q-card-section .ellipsis {
    text-transform: uppercase;
  }

  .q-card__section--vert {
    padding: 10px 15px;
  }
}
