#transaction {
  // .text-subtitle {
  //   font-size: 16px;
  //   text-transform: uppercase;
  //   margin-bottom: 0;
  // }

  // .text-uppercase {
  //   opacity: 0.7;
  //   font-size: 12px;
  // }

  .btn {
    border-radius: 30px;
  }

  .note {
    text-align: center;
    margin-bottom: 0;
    font-size: 12px;
  }

  #onPurchase {

    p {
      margin: 0;
    }

    .q-stepper--horizontal .q-stepper__step-inner {
      padding: 16px;
    }

    .ensure {
      font-size: 12px;
    }

  }

  #onRedeem {
    .select {
      font-size: 12px;
    }
  }
}
