#user {
  .expansion {
    padding: 10px 0;
    border-top: 7px solid var(--q-color-secondary);
    // border-bottom: 3px solid var(--q-color-secondary);
    border-radius: 5px;
    margin-bottom: 15px;
  }

  .q-item {
    padding: 8px;
  }

  p {
    margin: 0 0 2px;
  }

  p.fundname {
    text-transform: uppercase;
    font-size: 14px;
  }

  p.account {
    text-transform: uppercase;
    font-size: 12px;
    opacity: 0.6;
  }

  .invest {
    display: block;
    margin: 10px auto;
    padding: 5px 30px;
    font-size: 16px;
  }

  .q-card__section {
    padding: 0 20px;
  }

  .text-grey {
    text-transform: uppercase;
    font-size: 12px;
  }

  .text-grey span {
    color: var(--q-color-positive);
    font-size: 14px;
  }

  .q-btn--fab .q-btn__wrapper {
    min-height: 40px;
    min-width: 40px;
  }

  .q-table__container {
    margin-top: 10px;
  }

  .q-table--dense .q-table th {
    text-transform: uppercase;
    opacity: 0.9;
  }
}
