<template>
  <q-layout id="mainLayout" view="lHh Lpr lFf">
    <q-header :class="$q.dark.isActive ? 'bg-secondary' : ''" elevated>
      <q-toolbar class="text-accent">
        <q-btn @click="leftDrawerOpen = !leftDrawerOpen" flat round dense icon="las la-bars" />
        <q-toolbar-title class="text-center">Kensington Fund</q-toolbar-title>
        <q-btn to="/notification" flat round dense icon="las la-bell" />
      </q-toolbar>
    </q-header>

    <q-ajax-bar ref="bar" position="top" color="accent" size="10px" skip-hijack />

    <q-drawer id="sidePanel" side="left" v-model="leftDrawerOpen" show-if-above>
      <div class="q-pa-sm">
        <div class="self-center">
          <q-img
            src="~assets/logo-accent.png"
            alt="Kensington Logo"
            style="max-width: 400px; height: 80px;"
            contain
            class="q-my-sm"
          />
        </div>
      </div>
      <q-separator></q-separator>
      <q-expansion-item group="drawerlist">
        <template v-slot:header>
          <!-- <p class="title">Settings</p> -->
          <q-item-section avatar>
            <q-icon color="accent" name="las la-user" />
          </q-item-section>
          <q-item-section class="title">{{ getFullName }}</q-item-section>
        </template>
        <q-card class="q-px-sm">
          <q-card-section>
            <q-list>
              <q-item active-class="text-accent" exact to="/user/account" class="pa-none">
                <q-item-section avatar>
                  <q-icon name="las la-user-cog" size="sm"></q-icon>
                </q-item-section>
                <q-item-section>
                  <p class="q-mb-none sub">User Account</p>
                </q-item-section>
              </q-item>
              <q-separator></q-separator>
              <q-item
                active-class="text-accent"
                to="/user/account/securitysettings"
                class="pa-none"
                exact
              >
                <q-item-section avatar>
                  <q-icon name="las la-lock" size="sm"></q-icon>
                </q-item-section>
                <q-item-section>
                  <p class="q-mb-none sub">Change Password</p>
                </q-item-section>
              </q-item>
            </q-list>
          </q-card-section>
        </q-card>
      </q-expansion-item>
      <q-expansion-item group="drawerlist">
        <template v-slot:header>
          <!-- <p class="title">Settings</p> -->
          <q-item-section avatar>
            <q-icon color="accent" name="las la-cog" />
          </q-item-section>
          <q-item-section class="title">Application Settings</q-item-section>
        </template>

        <q-card :class="$q.dark.isActive ? 'bg-grey-8' : 'bg-grey-4'">
          <q-card-section class="q-pa-none">
            <q-list padding class="rounded-borders" style="max-width: 350px">
              <q-item>
                <q-item-section>
                  <q-item-label lines="1" class="sub">Enable Dark Theme</q-item-label>
                  <q-item-label caption>
                    Give your eyes a little rest. By reducing brightness with
                    dark mode.
                  </q-item-label>
                </q-item-section>
                <q-item-section side>
                  <q-toggle color="secondary" v-model="active" />
                </q-item-section>
              </q-item>
            </q-list>
          </q-card-section>
          <q-separator></q-separator>
          <q-card-section class="q-pa-none">
            <q-list padding class="rounded-borders" style="max-width: 350px">
              <q-item>
                <q-item-section>
                  <q-item-label lines="1" class="sub">Allow Notification</q-item-label>
                  <!-- <q-item-label
                    caption
                  >Give your eyes a little rest. By reducing brightness with dark mode.</q-item-label>-->
                </q-item-section>
                <q-item-section side>
                  <q-toggle color="secondary" v-model="hasNotification" />
                </q-item-section>
              </q-item>
            </q-list>
          </q-card-section>
        </q-card>
      </q-expansion-item>
      <q-expansion-item group="drawerlist">
        <template v-slot:header>
          <!-- <p class="title">Settings</p> -->
          <q-item-section avatar>
            <q-icon color="accent" name="las la-question" />
          </q-item-section>
          <q-item-section class="title">About Kensington</q-item-section>
        </template>
        <q-card class="q-px-sm">
          <q-card-section class="pa-sm">
            <q-list>
              <q-item class="pa-none" to="/404">
                <q-item-section avatar>
                  <q-icon name="las la-book" size="sm"></q-icon>
                </q-item-section>
                <q-item-section>
                  <p class="q-mb-none sub">Terms and Condition</p>
                </q-item-section>
              </q-item>
              <q-separator></q-separator>
              <q-item class="pa-none" to="/404">
                <q-item-section avatar>
                  <q-icon name="las la-book-open" size="sm"></q-icon>
                </q-item-section>
                <q-item-section>
                  <p class="q-mb-none sub">Privacy Policy</p>
                </q-item-section>
              </q-item>
              <q-separator></q-separator>
              <q-item class="pa-none" to="/404">
                <q-item-section avatar>
                  <q-icon name="las la-question-circle" size="sm"></q-icon>
                </q-item-section>
                <q-item-section>
                  <p class="q-mb-none sub">FAQ</p>
                </q-item-section>
              </q-item>
            </q-list>
          </q-card-section>
        </q-card>
      </q-expansion-item>
      <q-list class="logout fixed-bottom">
        <q-item v-ripple>
          <q-item-section>
            <q-btn
              @click="onLogout()"
              color="accent"
              class="btn"
              style="width: 80%; margin: 0 auto;"
            >Sign Out</q-btn>
            <div class="text-caption q-my-lg text-center">&copy Kensington Asset Management 2020</div>
          </q-item-section>
        </q-item>
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
    <div class="row" v-if="isTrade">
      <q-page-sticky position="bottom-right" :offset="[18, 80]">
        <q-fab color="accent" icon="add" direction="up" class="fab">
          <q-fab-action to="/buy" color="secondary" icon="shopping_cart" />
          <q-fab-action to="/redeem" color="secondary" icon="redeem" />
        </q-fab>
      </q-page-sticky>
    </div>
    <q-footer elevated>
      <div class="q-gutter-y-md">
        <q-tabs
          align="justify"
          :class="
            $q.dark.isActive
              ? 'bg-secondary text-white'
              : 'bg-primary text-black'
          "
          class="full-width"
          indicator-color="transparent"
          active-color="accent"
        >
          <q-route-tab name="mails" to="/user" icon="las la-home" label />
          <q-route-tab name="alarms" to="/user/account" icon="las la-user" />
          <q-route-tab name="history" to="/user/history" icon="las la-history" />
          <q-route-tab name="trade" to="/user/trade" icon="las la-handshake" />
          <q-route-tab name="file" to="/user/file" icon="las la-file" />
        </q-tabs>
      </div>
    </q-footer>
    <!-- <q-dialog maximized :position="'bottom'" ref="dialog">
      <q-card class="q-dialog-plugin q-mb-xs">
        <q-card-section>
          <p class="text-body">Are you sure you want to logout?</p>
          <p class="text-subtitle2"></p>
        </q-card-section>
        <q-card-section>
          <q-btn
            color="secondary"
            class="full-width q-mb-xs"
            label="Yes"
            outline
            @click="onOKClick"
          />
          <q-btn color="secondary" class="full-width" label="Cancel" @click="onCancelClick" />
        </q-card-section>
      </q-card>
    </q-dialog>-->
    <q-dialog
      transition-show="scale"
      transition-hide="scale"
      v-model="dialog"
      ref="dialog"
      maximized
    >
      <q-card class="justify-center">
        <q-card-section class="q-pa-none text-center fixed-center full-width">
          <q-icon name="las la-exclamation-circle" class="text-red" style="font-size: 7rem;" />
          <p class="text-subtitle1 q-mb-xl" style="font-family: 'FiraSans';">
            You are about to sign out.
            <q-space></q-space>Are you Sure?
          </p>
          <q-btn
            @click="onOKClick"
            outline
            class="q-mb-sm btn-logout"
            style="border-radius: 18px; width: 65%; font-size: 12px;"
          >Sign me out</q-btn>
          <q-space></q-space>
          <q-btn
            @click="onCancelClick"
            class="q-mb-lg btn-cancel"
            color="accent"
            style="border-radius: 18px; width: 65%; font-size: 12px;"
          >Cancel</q-btn>
        </q-card-section>
      </q-card>
    </q-dialog>
  </q-layout>
</template>

<script>
import EssentialLink from "components/EssentialLink";
import { mapGetters, mapActions } from "vuex";
import { LocalStorage } from "quasar";
export default {
  name: "MainLayout",

  components: {
    EssentialLink
  },
  mounted() {
    if (this.$q.localStorage.getItem("isDarkMode")) {
      this.active = this.$q.localStorage.getItem("isDarkMode");
    } else {
      this.active = this.$q.dark.isActive;
    }
  },
  computed: {
    ...mapGetters("user", ["getFullName", "getAvatar"])
  },
  data() {
    return {
      leftDrawerOpen: false,
      tab: "",
      dialog: false,
      active: false,
      hasNotification: false,
      isTrade: false,
      scrollInfo: 0
    };
  },
  watch: {
    active() {
      this.$q.dark.set(this.active);
      this.$q.localStorage.set("isDarkMode", this.active);
    },
    hasNotification() {
      this.$q.localStorage.set("hasNotification", this.hasNotification);
    },
    $route() {
      if (this.$route.name == "trade" || this.$route.meta.isProfile) {
        this.isTrade = false;
      } else {
        this.isTrade = true;
      }
    }
  },
  methods: {
    ...mapActions("user", ["logout"]),
    show() {
      this.$refs.dialog.show();
    },
    hide() {
      this.$refs.dialog.hide();
    },
    onOKClick() {
      this.logout();
      this.$router.push("/login");
      this.hide();
    },

    onCancelClick() {
      this.hide();
    },

    onLogout() {
      this.dialog = !this.dialog;
    }
  }
};
</script>

