<template>
  <q-layout view="lHh Lpr lFf">
    <q-header :class="$q.dark.isActive ? 'bg-secondary' : ''" elevated>
      <q-toolbar class="text-accent">
        <q-btn @click="$router.go(-1)" flat round dense icon="las la-angle-left" class="q-mr-sm" />
        <q-toolbar-title>Transaction</q-toolbar-title>
      </q-toolbar>
    </q-header>
    <q-page-container>
      <router-view :transactionId="id" />
    </q-page-container>
  </q-layout>
</template>

<script>
import EssentialLink from "components/EssentialLink";

export default {
  props: ["id"],
  components: {
    EssentialLink
  },

  data() {
    return {
      rightDrawerOpen: false,

      tab: "",
      active: false
    };
  },
  watch: {
    active() {
      this.$q.dark.set(this.active);
    }
  }
};
</script>
