<template>
  <q-layout id="transaction" view="lHh Lpr lFf">
    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
export default {
  name: "MainLayout",
  props: ["id"],

  data() {
    return {
      w: false,

      tab: "",
      active: false
    };
  },
  watch: {
    active() {
      this.$q.dark.set(this.active);
    }
  }
};
</script>
