<template>
  <div id="bankaccounts" class="q-gutter-y-sm column">
    <p class="bankaccount text-center">Bank Account</p>
    <div>
      <bank-account-expansion v-for="(bank, key) in banks" :key="key" :bank="bank" @reload="load"></bank-account-expansion>
    </div>
    <div class="row justify-center">
      <q-btn
        color="accent"
        @click="addBankAccount = !addBankAccount"
        class="text-primary q-mt-md q-mb-md"
        style="border-radius: 18px;"
      >Add Bank Account</q-btn>
    </div>

    <q-dialog v-model="addBankAccount" full-width persistent>
      <q-card>
        <q-toolbar>
          <q-btn class="text-red" flat round dense icon="close" v-close-popup />
          <q-toolbar-title>
            <div class="row items-center">
              <span class="text-left">Add Bank Account</span>
            </div>
          </q-toolbar-title>
        </q-toolbar>
        <q-separator></q-separator>
        <q-card-section>
          <q-input
            filled
            dense
            v-model="form.bank_name"
            label="Bank Name"
            type="text"
            hide-bottom-space
            @input="$v.form.bank_name.$touch()"
            :error="$v.form.bank_name.$error"
          >
            <template v-slot:error>
              <i v-if="!$v.form.bank_name.required">Bank name is required.</i>
            </template>
          </q-input>
          <q-input
            filled
            dense
            v-model="form.swift_code"
            label="Swift Code"
            type="text"
            hide-bottom-space
            @input="$v.form.swift_code.$touch()"
            :error="$v.form.swift_code.$error"
          >
            <template v-slot:error>
              <i v-if="!$v.form.swift_code.required">Swift Code is required.</i>
            </template>
          </q-input>
          <q-input
            filled
            dense
            v-model="form.iban_number"
            label="IBAN Number"
            type="text"
            :loading="isLoading"
            hide-bottom-space
            @input="$v.form.iban_number.$touch()"
            :error="$v.form.iban_number.$error || !validIBAN"
          >
            <template v-slot:error>
              <i v-if="!$v.form.iban_number.required">IBAN number is required.</i>
              <i v-else-if="!validIBAN">IBAN number is invalid.</i>
            </template>
          </q-input>
          <q-input
            filled
            dense
            v-model="form.account_name"
            label="Account Name"
            type="text"
            hide-bottom-space
            @input="$v.form.account_name.$touch()"
            :error="$v.form.account_name.$error"
          >
            <template v-slot:error>
              <i v-if="!$v.form.account_name.required">Account name is required.</i>
            </template>
          </q-input>
          <q-input
            filled
            dense
            v-model="form.account_number"
            label="Account Number"
            type="text"
            hide-bottom-space
            @input="$v.form.account_number.$touch()"
            :error="$v.form.account_number.$error"
          >
            <template v-slot:error>
              <i v-if="!$v.form.account_number.required">Account number is required.</i>
              <i v-else-if="!$v.form.account_number.numeric">Account number should be numeric value.</i>
            </template>
          </q-input>
          <div class="row justify-center">
            <q-btn
              @click="submit"
              color="accent"
              :disable="!validIBAN"
              class="text-primary q-mb-sm q-mt-md full-width"
              style="border-radius: 18px;"
            >Add Bank Account</q-btn>
          </div>
        </q-card-section>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import lodash from "lodash";
import { mapGetters } from "vuex";
import Axios from "axios";
import { required, email, numeric } from "vuelidate/lib/validators";
import BankAccountExpansion from "../../../components/BankAccountExpansion";

let timeout = null;
export default {
  components: {
    BankAccountExpansion
  },
  data() {
    return {
      form: {},
      banks: {},
      addBankAccount: false,
      validIBAN: false,
      isLoading: false
    };
  },
  mounted() {
    this.load();
  },
  computed: {
    ...mapGetters("user", ["getUserId"])
  },
  watch: {
    "form.iban_number": "checkIban"
  },
  methods: {
    submit() {
      this.$v.$touch();
      if (this.$v.$invalid || !this.validIBAN) {
        this.$q.notify({
          color: "negative",
          icon: "warning",
          timeout: 1000,
          message: "Error in form input!",
          position: "top",
          actions: [
            {
              icon: "close",
              color: "white",
              handler: () => {
                /* ... */
              }
            }
          ]
        });
      } else {
        this.form.userId = this.getUserId;

        this.$axios
          .post(
            "https://kensington.holbornassets.com/api/addbankaccount",
            this.form
          )
          .then(response => {
            if (response.data.success) {
              this.addBankAccount = false;
              this.load();
              this.form = {};
              this.$v.$reset();
              this.$q.notify({
                color: "positive",
                icon: "check_circle",
                timeout: 1000,
                message: "Bank account registered successfully!",
                position: "top",
                actions: [
                  {
                    icon: "close",
                    color: "white",
                    handler: () => {
                      /* ... */
                    }
                  }
                ]
              });
            }
          });
      }
    },
    checkIban() {
      clearTimeout(timeout);

      timeout = setTimeout(() => {
        if (this.form.iban_number != "") {
          this.isLoading = true;
          this.$axios
            .post(
              "https://kensington.holbornassets.com/api/validateIbanNumber",
              {
                Iban: this.form.iban_number
              }
            )
            .then(response => {
              this.validIBAN = response.data.isValid;
              this.isLoading = false;
            });
        }
      }, 700);
    },
    load() {
      this.$q.loading.show();

      this.$axios
        .post("https://kensington.holbornassets.com//api/getUserProfile", {
          userId: this.getUserId
        })
        .then(response => {
          this.banks = response.data.result.userBankAccounts;

          this.$q.loading.hide();
        });
    }
  },
  validations: {
    form: {
      bank_name: {
        required
      },
      swift_code: {
        required
      },
      iban_number: {
        required
      },
      account_name: {
        required
      },
      account_number: {
        numeric,
        required
      }
    }
  }
};
</script>

<style lang="scss" scoped></style>
