<template>
  <q-page id="profile-home">
    <!-- <div class="row q-pa-sm profile-block">
      <div class="col">
        <img src="~assets/sad.svg" width="70%" class="profile-photo" alt="profile" />
        <p class="text-white text-title">{{ getFullName }}</p>
      </div>
    </div>-->
    <div class="row q-pa-md">
      <p class="title">User Settings</p>
    </div>
    <div class="row justify-around q-pa-sm q-gutter-x-md q-gutter-y-sm q-mb-md">
      <div class="col-3">
        <q-btn to="/user/account" class="full-width" flat>
          <q-icon size="lg" color="accent" name="las la-user"></q-icon>
          <span class="text-caption">Personal Information</span>
        </q-btn>
      </div>
      <div class="col-3">
        <q-btn to="/user/account/bank" class="full-width" flat>
          <q-icon size="lg" color="accent" name="las la-landmark"></q-icon>
          <span class="text-caption">Bank Account</span>
        </q-btn>
      </div>
      <div class="col-3">
        <q-btn class="full-width" to="/user/account/statementPeriod" flat>
          <q-icon size="lg" color="accent" name="las la-calendar"></q-icon>
          <span class="text-caption">Statement Period</span>
        </q-btn>
      </div>
      <div class="col-3">
        <q-btn to="/user/account/personaldocuments" class="full-width" flat>
          <q-icon size="lg" color="accent" name="las la-address-book"></q-icon>
          <span class="text-caption">Personal Documents</span>
        </q-btn>
      </div>
      <div class="col-3">
        <q-btn to="/user/account/taxresidency" class="full-width" flat>
          <q-icon size="lg" color="accent" name="las la-search-location"></q-icon>
          <span class="text-caption">Tax Residency</span>
        </q-btn>
      </div>
      <div class="col-3">
        <q-btn to="/user/account/securitysettings" class="full-width" flat>
          <q-icon size="lg" color="accent" name="las la-shield-alt"></q-icon>
          <span class="text-caption">Security Settings</span>
        </q-btn>
      </div>
    </div>
    <q-separator />

    <div class="row q-pa-md">
      <div class="col">
        <transition name="fade">
          <router-view></router-view>
        </transition>
      </div>
    </div>
  </q-page>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      filter: 0,

      activeTab: "update-profile"
    };
  },

  computed: {
    ...mapGetters("user", ["getFullName", "getAvatar"])
  },
  methods: {}
};
</script>

<style lang="scss" scoped></style>
