<template>
  <div id="personaldocuments">
    <p class="personaldocuments">Personal Documents</p>
    <p class="subtitle text-center">Only upload unexpired and valid documents.</p>
    <div class="row q-mt-md" v-if="!$_.isEmpty(data)">
      <q-card class="my-card q-mt-sm" flat bordered v-for="(d, key) in data" :key="key">
        <q-card-section horizontal>
          <q-card-section class="col-3 flex flex-center">
            <q-img class="rounded-borders" src="~assets/pdf.svg" style="width: 140px;" />
          </q-card-section>
          <q-card-section class="no-padding col-8">
            <div
              class="q-mt-sm q-mb-xs"
              style="font-size: 14px;"
            >{{ $_.startCase($_.toLower(d.description)) }}</div>
            <q-separator></q-separator>
            <div class="row q-mt-md q-mb-sm" style="font-size: 11px;">
              <div class="col">Expiration:</div>
              <div class="col text-right">{{ getDate(d.expiration_date) }}</div>
            </div>
            <div class="row q-mb-sm" style="font-size: 11px;">
              <div class="col-5">Date Uploaded:</div>
              <div class="col-7 text-right">{{ getDate(d.date_uploaded) }}</div>
            </div>
            <div class="row q-mb-sm" style="font-size: 11px;">
              <div class="col">Status:</div>
              <div class="col text-right text-positive" v-if="d.is_approved">Approved</div>
              <div class="col text-right text-warning" v-else>Pending</div>
            </div>
          </q-card-section>
        </q-card-section>
        <!-- <q-card-section>
          <div v-if="d.is_approved" class="text-positive">Your uploaded documents already approved!</div>
          <div v-else class="text-accent">Your uploaded documents is still waiting for approval</div>
        </q-card-section>-->
      </q-card>
    </div>
    <div class="row" v-else>
      <div class="q-pa-md">
        <q-uploader
          url="http://localhost:4444/upload"
          label="Passport Photocopy"
          @added="addPassport"
          @removed="removePassport"
          color="accent"
          hide-upload-btn
          text-color="primary"
          style="max-width: 300px"
          accept="image/jpeg, .pdf"
          batch
        />
        <q-uploader
          url="http://localhost:4444/upload"
          label="Proof of Address"
          color="accent"
          @added="addAddress"
          @removed="removeAddress"
          hide-upload-btn
          text-color="text-primary"
          style="max-width: 300px"
          accept="image/jpeg, .pdf"
          batch
        />

        <q-btn
          :disable="isFilesEmpty"
          label="Upload"
          color="accent"
          class="q-mt-md full-width"
          style="border-radius: 18px;"
          @click="upload"
        ></q-btn>
      </div>
    </div>
  </div>
</template>
<script>
import { mapGetters } from "vuex";
import moment from "moment";
export default {
  data() {
    return {
      form: {
        pass_file: "",
        address_file: ""
      },
      data: [],
      columns: [
        {
          name: "extension",
          label: "Type",
          field: "extension",
          align: "left"
        },
        {
          name: "description",
          label: "Description",
          field: "description",
          align: "center",

          sort: (a, b) => parseInt(a, 10) - parseInt(b, 10)
        },
        {
          name: "status",
          label: "Status",
          field: "status",
          align: "right",

          sort: (a, b) => parseInt(a, 10) - parseInt(b, 10)
        },
        {
          name: "expiration_date",
          label: "Expiration",
          field: "expiration_date",
          align: "right",

          sort: (a, b) => parseInt(a, 10) - parseInt(b, 10)
        },
        {
          name: "date_uploaded",
          label: "Date Uploaded",
          field: "date_uploaded",
          align: "right",

          sort: (a, b) => parseInt(a, 10) - parseInt(b, 10)
        }
      ]
    };
  },
  mounted() {
    this.load();
  },
  computed: {
    ...mapGetters("user", ["getUserId"]),
    isFilesEmpty() {
      if (this.form.address_file == "" || this.form.pass_file == "") {
        return true;
      }
      return false;
    }
  },

  methods: {
    getDate(date) {
      var date = date.substring(1, date.length - 1);
      return moment(date).format("MM/DD/YYYY HH:mm a");
    },
    load() {
      this.$axios
        .post("https://kensington.holbornassets.com//api/getUserDocuments", {
          userId: this.getUserId
        })
        .then(response => {
          this.data = response.data.result;
        });
    },
    addPassport(file) {
      this.form.pass_file = file[0];
    },
    addAddress(file) {
      this.form.address_file = file[0];
    },
    removePassport(file) {
      this.form.pass_file = "";
    },
    removeAddress(file) {
      this.form.address_file = "";
    },
    upload() {
      var formData = new FormData();
      formData.append("pass_file", this.form.pass_file);
      formData.append("address_file", this.form.address_file);
      formData.append("userId", this.getUserId);
      this.$axios
        .post(
          "https://kensington.holbornassets.com//api/uploadUserDocuments",
          formData
        )
        .then(response => {
          console.log(response);
        });
    }
  }
};
</script>
