<template>
  <div class="q-gutter-y-sm column">
    <p class="text-center personal-info q-mb-sm">PERSONAL INFORMATION</p>
    <q-card class="q-py-sm">
      <q-card-section>
        <q-input filled dense v-model="form.fname" disable label="Firstname" type="text"></q-input>
        <q-input filled dense v-model="form.lname" disable label="Lastname" type="text"></q-input>
        <q-input
          filled
          dense
          v-model="form.tel_number"
          label="Telephone Number"
          type="number"
          @input="$v.form.tel_number.$touch()"
          :error="$v.form.tel_number.$error"
          hide-bottom-space
        >
          <template v-slot:error>
            <i v-if="!$v.form.tel_number.required">Telephone Number is required.</i>
            <i v-if="!$v.form.tel_number.numeric">Invalid Telephone number format.</i>
          </template>
        </q-input>
        <q-input
          filled
          dense
          v-model="form.mob_number"
          label="Cellphone Number"
          type="number"
          @input="$v.form.mob_number.$touch()"
          :error="$v.form.mob_number.$error"
          hide-bottom-space
        >
          <template v-slot:error>
            <i v-if="!$v.form.mob_number.required">Mobile Number is required.</i>
            <i v-if="!$v.form.mob_number.numeric">Invalid Mobile Number format.</i>
          </template>
        </q-input>
        <q-input
          filled
          dense
          v-model="form.address_1"
          label="Address 1"
          type="text"
          @input="$v.form.address_1.$touch()"
          :error="$v.form.address_1.$error"
          hide-bottom-space
        >
          <template v-slot:error>
            <i v-if="!$v.form.address_1.required">Address 1 is required.</i>
          </template>
        </q-input>
        <q-input
          filled
          dense
          v-model="form.address_2"
          label="Address 2"
          type="text"
          @input="$v.form.address_2.$touch()"
          :error="$v.form.address_2.$error"
          hide-bottom-space
        >
          <template v-slot:error>
            <i v-if="!$v.form.address_2.required">Address 2 is required.</i>
          </template>
        </q-input>
        <q-input filled dense v-model="form.address_3" label="Address 3" type="text"></q-input>
        <q-input
          filled
          dense
          v-model="form.town"
          label="Town/City"
          type="text"
          @input="$v.form.town.$touch()"
          :error="$v.form.town.$error"
          hide-bottom-space
        >
          <template v-slot:error>
            <i v-if="!$v.form.town.required">Town is required.</i>
          </template>
        </q-input>
        <q-select
          transition-show="scale"
          transition-hide="scale"
          filled
          dense
          :loading="loadingCountry"
          v-model="form.country"
          :options="countries"
          :option-value="opt => opt.iso"
          :option-label="opt => opt.name"
          map-options
          emit-value
          options-selected-class="text-accent"
          label="Country"
        />
        <q-select
          transition-show="scale"
          transition-hide="scale"
          filled
          dense
          v-model="form.default_currency"
          options-selected-class="text-accent"
          :options="options"
          label="Currency"
        />

        <q-btn
          color="accent"
          @click="update()"
          class="text-primary q-mt-md q-mb-md btn full-width"
          style="border-radius: 18px;"
        >UPDATE</q-btn>
      </q-card-section>
    </q-card>
  </div>
</template>

<script>
import { required, numeric } from "vuelidate/lib/validators";
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      form: {},
      countries: [],
      loadingCountry: false,
      options: [
        {
          label: "USD",
          value: "1"
        },
        {
          label: "GBP",
          value: "2"
        }
      ]
    };
  },
  mounted() {
    this.$q.loading.show();

    this.$axios
      .post("https://kensington.holbornassets.com//api/getUserProfile", {
        userId: this.getUserInfo.id
      })
      .then(response => {
        this.form = response.data.result;
        this.$q.loading.hide();
      });

    this.getCountries();
  },
  computed: {
    ...mapGetters("user", ["getUserInfo", "getAvatar", "getUserId"])
  },
  methods: {
    update() {
      this.$v.$touch();
      if (this.$v.$invalid) {
      } else {
        this.form.userId = this.getUserId;
        this.$axios
          .post(
            "https://kensington.holbornassets.com//api/updateprofile",
            this.form
          )
          .then(response => {
            this.$q.notify({
              color: "positive",
              icon: "check_circle",
              timeout: 1000,
              message: "Personal Information has been udpated!",
              position: "top",
              actions: [
                {
                  icon: "close",
                  color: "white",
                  handler: () => {
                    /* ... */
                  }
                }
              ]
            });
          });
      }
    },

    onValueChange(value) {
      console.log(value);
    },

    getCountries() {
      this.loadingCountry = true;
      this.$axios
        .get("https://kensington.holbornassets.com//api/getCountry")
        .then(response => {
          this.loadingCountry = false;
          this.countries = response.data.result;
        });
    }
  },
  validations: {
    form: {
      tel_number: {
        required,
        numeric
      },
      mob_number: {
        required,
        numeric
      },
      address_1: {
        required
      },
      address_2: {
        required
      },
      town: {
        required
      }
    }
  }
};
</script>

<style lang="scss" scoped></style>
