<template>
  <div id="securitysettings">
    <p class="twofactor text-center">Security Settings</p>
    <q-card class="q-py-md q-mb-lg">
      <q-card-section>
        <p class="text-subtitle q-mb-md">Change Email Address</p>
      </q-card-section>
      <q-separator></q-separator>
      <q-card-section>
        <q-input
          v-model="form1.email"
          label="Email Address"
          hide-bottom-space
          type="text"
          @input="$v.form1.email.$touch()"
          :error="$v.form1.email.$error"
          filled
          dense
        >
          <template v-slot:error>
            <i v-if="!$v.form1.email.required">Email is required.</i>
            <i v-if="!$v.form1.email.email">Invalid email format.</i>
          </template>
        </q-input>
        <q-input
          v-model="form1.newemail"
          label="New Email Address"
          hide-bottom-space
          type="text"
          @input="$v.form1.newemail.$touch()"
          :error="$v.form1.newemail.$error"
          filled
          dense
        >
          <template v-slot:error>
            <i v-if="!$v.form1.newemail.required">New Email is required.</i>
            <i v-if="!$v.form1.newemail.email">Invalid email format.</i>
          </template>
        </q-input>
      </q-card-section>
      <q-card-section>
        <div class="row justify-center">
          <q-btn
            label="Update"
            @click="updateEmail()"
            class="q-mt-md btn"
            color="accent"
            style="border-radius: 18px;"
          ></q-btn>
        </div>
      </q-card-section>
    </q-card>
    <q-card class="q-py-md q-mb-lg">
      <q-card-section>
        <div class="row items-center q-mb-sm">
          <p class="text-subtitle q-mb-none col-9">Two Factor Authentication</p>
          <q-toggle v-model="value" color="green" class="on-right" />
        </div>
      </q-card-section>
      <q-separator></q-separator>
      <q-card-section>
        <div class="row">
          <q-checkbox v-model="form2.is_email_enabled" label="Email Address" color="accent" />
        </div>
        <div class="row">
          <q-checkbox v-model="form2.is_whatsapp_enabled" label="WhatsApp" color="accent" />
        </div>
      </q-card-section>
      <q-card-section>
        <div class="row justify-center">
          <q-btn
            @click="updateTwoFactor()"
            label="Update"
            class="q-mt-md btn"
            color="accent"
            style="border-radius: 18px;"
          ></q-btn>
        </div>
      </q-card-section>
      <!-- whatsapp -->
      <q-dialog
        persistent
        class="q-pa-sm"
        v-model="enterValiationCode"
        transition-show="scale"
        transition-hide="scale"
      >
        <q-card style="font-family: 'FiraSans';">
          <q-card-section>
            <div class="row justify-center">
              <p
                class="q-my-sm text-center"
              >Verification code has been sent to your WhatsApp Account.</p>
            </div>
          </q-card-section>
          <q-card-section>
            <q-input
              v-model="verification.verificationcode"
              label="Verification Code"
              hide-bottom-space
              type="text"
              @input="$v.verification.verificationcode.$touch()"
              :error="$v.verification.verificationcode.$error"
              filled
              dense
            >
              <template v-slot:error>
                <i v-if="!$v.verification.verificationcode.required">Verification ceode is required.</i>
              </template>
            </q-input>
          </q-card-section>
          <q-card-section>
            <q-btn color="positive" label="Submit" @click="submitVerification()" class="full-width"></q-btn>
            <q-btn
              color="secondary"
              label="cancel"
              @click="enterValiationCode = false"
              class="q-mt-sm full-width"
            ></q-btn>
          </q-card-section>
        </q-card>
      </q-dialog>
      <q-dialog
        persistent
        maximized
        class="q-pa-sm"
        v-model="whatsappvalidation"
        transition-show="scale"
        transition-hide="scale"
      >
        <q-card style="font-family: 'FiraSans';">
          <div class="row justify-end">
            <q-btn icon="close" size="lg" color="negative" flat round dense v-close-popup />
          </div>
          <q-card>
            <div class="flex flex-center">
              <q-card-section>
                <div class="row justify-center">
                  <q-icon name="lab la-whatsapp" size="4rem" color="positive"></q-icon>
                </div>
                <div class="row justify-center">
                  <p class="text-h5 q-my-sm text-center">WhatsApp Account Validation</p>
                </div>
                <div class="row bg-warning q-mt-lg" style="border-radius: 10px;">
                  <p
                    class="text-subtitle q-pa-sm q-ma-none text-center text-primary"
                  >We need to validate your WhatsApp for you to receive system verifications and notifications.</p>
                </div>
              </q-card-section>
            </div>
          </q-card>
          <q-card class="q-px-md">
            <div class="flex flex-center">
              <q-card class="col">
                <q-card-section>
                  <div class="row justify-center">
                    <p class="text-subtitle q-my-md text-uppercase">Validate WhatsApp Mobile Number</p>
                  </div>
                  <q-input
                    filled
                    mask="###"
                    v-model="whatsApp.code"
                    label="Country Code"
                    placeholder="971"
                  >
                    <template v-slot:prepend>
                      <q-icon name="add" />
                    </template>
                  </q-input>
                  <q-input filled v-model="whatsApp.mobile" label="Mobile Number"></q-input>
                  <q-btn
                    color="positive"
                    label="Validate"
                    @click="validate()"
                    class="q-mt-lg full-width"
                  ></q-btn>
                </q-card-section>
              </q-card>
            </div>
          </q-card>
        </q-card>
      </q-dialog>
    </q-card>
    <q-card class="q-py-md q-mb-lg">
      <q-card-section>
        <p class="text-subtitle q-mb-md">Change Password</p>
      </q-card-section>
      <q-separator></q-separator>
      <q-card-section>
        <q-input
          v-model="form3.old_pass"
          label="Old Password"
          hide-bottom-space
          type="password"
          filled
          dense
          @input="$v.form3.old_pass.$touch()"
          :error="$v.form3.old_pass.$error"
        >
          <template v-slot:error>
            <i v-if="!$v.form3.old_pass.required">Old password is required.</i>
          </template>
        </q-input>
        <q-input
          v-model="form3.password"
          hide-bottom-space
          label="New Password"
          type="password"
          filled
          dense
          @input="$v.form3.password.$touch()"
          :error="$v.form3.password.$error"
        >
          <template v-slot:error>
            <i v-if="!$v.form3.password.required">Password is required.</i>
          </template>
        </q-input>
        <q-input
          v-model="form3.confirm_password"
          hide-bottom-space
          label="Confirm Password"
          type="password"
          filled
          dense
          @input="$v.form3.confirm_password.$touch()"
          :error="$v.form3.confirm_password.$error"
        >
          <template v-slot:error>
            <i v-if="!$v.form3.confirm_password.required">Password confirmation is required.</i>
            <i v-else-if="!$v.form3.confirm_password.sameAs">Password does'nt match.</i>
          </template>
        </q-input>
      </q-card-section>
      <q-card-section>
        <div class="row justify-center">
          <q-btn
            @click="updatePassword"
            label="Update"
            class="q-mt-md btn"
            color="accent"
            style="border-radius: 18px;"
          ></q-btn>
        </div>
      </q-card-section>
    </q-card>
  </div>
</template>
<script>
import { mapGetters } from "vuex";
import { required, sameAs, email, numeric } from "vuelidate/lib/validators";

export default {
  data() {
    return {
      whatsappvalidation: false,
      enterValiationCode: false,
      value: true,
      form1: {},
      form2: {},
      form3: {},
      verification: {},
      whatsApp: {}
    };
  },

  computed: {
    ...mapGetters("user", ["getUserId"])
  },

  methods: {
    validate() {
      this.whatsApp.userId = this.getUserId;
      this.$axios
        .post(
          "https://kensington.holbornassets.com//api/processWhatsApp",
          this.whatsApp
        )
        .then(response => {
          if (response.data.success) {
            this.enterValiationCode = true;
          }
        });
    },
    submitVerification() {
      this.$v.verification.$touch();
      if (this.$v.verification.$invalid) {
        this.$q.notify({
          color: "negative",
          icon: "warning",
          timeout: 1000,
          message: "Please, check your entries and try again!",
          position: "top",
          actions: [
            {
              icon: "close",
              color: "white",
              handler: () => {
                /* ... */
              }
            }
          ]
        });
      } else {
        this.verification.userId = this.getUserId;
        this.$axios
          .post(
            "https://kensington.holbornassets.com//api/validateWhatsAppCode",
            this.verification
          )
          .then(response => {
            if (response.data.success) {
              this.enterValiationCode = false;
              this.whatsappvalidation = false;
              this.updateTwoFactor();
            }
          });
      }
    },
    updateEmail() {
      this.$v.form1.$touch();
      if (this.$v.form1.$invalid) {
        this.$q.notify({
          color: "negative",
          icon: "warning",
          timeout: 1000,
          message: "Please, check your entries and try again!",
          position: "top",
          actions: [
            {
              icon: "close",
              color: "white",
              handler: () => {
                /* ... */
              }
            }
          ]
        });
      } else {
        this.form1.userId = this.getUserId;
        this.$axios
          .post(
            "https://kensington.holbornassets.com//api/changeemail",
            this.form1
          )
          .then(response => {
            if (response.data.success) {
              this.$q.notify({
                color: "positive",
                icon: "check_circle",
                timeout: 1000,
                message: response.data.message,
                position: "top",
                actions: [
                  {
                    icon: "close",
                    color: "white",
                    handler: () => {
                      /* ... */
                    }
                  }
                ]
              });
              this.form1 = {};
              this.$v.form1.$reset();
            } else {
              this.$q.notify({
                color: "negative",
                icon: "warning",
                timeout: 1000,
                message: response.data.message,
                position: "top",
                actions: [
                  {
                    icon: "close",
                    color: "white",
                    handler: () => {
                      /* ... */
                    }
                  }
                ]
              });
            }
          });
      }
    },
    updateTwoFactor() {
      this.form2.userId = this.getUserId;

      if (this.form2.is_whatsapp_enabled) {
        //check if already has an accound
        this.whatsappvalidation = true;
      } else {
        this.$axios
          .post(
            "https://kensington.holbornassets.com//api/updatetwofactorAuth",
            this.form2
          )
          .then(response => {
            if (response.data.success) {
              this.$q.notify({
                color: "positive",
                icon: "check_circle",
                timeout: 1000,
                message: response.data.message,
                position: "top",
                actions: [
                  {
                    icon: "close",
                    color: "white",
                    handler: () => {
                      /* ... */
                    }
                  }
                ]
              });
            } else {
              this.$q.notify({
                color: "negative",
                icon: "warning",
                timeout: 1000,
                message: response.data.message,
                position: "top",
                actions: [
                  {
                    icon: "close",
                    color: "white",
                    handler: () => {
                      /* ... */
                    }
                  }
                ]
              });
            }
          })
          .catch(error => {
            this.$q.notify({
              color: "negative",
              icon: "warning",
              timeout: 1000,
              message: "Check your internet connection!",
              position: "top",
              actions: [
                {
                  icon: "close",
                  color: "white",
                  handler: () => {
                    /* ... */
                  }
                }
              ]
            });
          });
      }
    },
    updatePassword() {
      this.$v.form3.$touch();

      if (this.$v.form3.$invalid) {
        this.$q.notify({
          color: "negative",
          icon: "warning",
          timeout: 1000,
          message: "Please, check your entries and try again!",
          position: "top",
          actions: [
            {
              icon: "close",
              color: "white",
              handler: () => {
                /* ... */
              }
            }
          ]
        });
      } else {
        this.form3.userId = this.getUserId;
        this.$axios
          .post(
            "https://kensington.holbornassets.com//api/changePassword",
            this.form3
          )
          .then(response => {
            if (response.data.success) {
              this.$q.notify({
                color: "positive",
                icon: "check_circle",
                timeout: 1000,
                message: response.data.result,
                position: "top",
                actions: [
                  {
                    icon: "close",
                    color: "white",
                    handler: () => {
                      /* ... */
                    }
                  }
                ]
              });
              this.form3 = {};
              this.$v.form3.$reset();
            } else {
              this.$q.notify({
                color: "negative",
                icon: "warning",
                timeout: 1000,
                message: response.data.message,
                position: "top",
                actions: [
                  {
                    icon: "close",
                    color: "white",
                    handler: () => {
                      /* ... */
                    }
                  }
                ]
              });
            }
          });
      }
    }
  },
  validations: {
    form1: {
      email: {
        email,
        required
      },
      newemail: {
        email,
        required
      }
    },
    form3: {
      old_pass: {
        required
      },
      password: {
        required
      },
      confirm_password: {
        required,
        sameAsPassword: sameAs("password")
      }
    },
    verification: {
      verificationcode: {
        required
      }
    }
  }
};
</script>
