<template>
  <div class="q-gutter-y-sm column">
    <p class="text-center personal-info">STATEMENT PERIOD</p>
    <q-card class="q-py-md">
      <q-card-section>
        <q-select
          transition-hide="scale"
          transition-show="scale"
          filled
          dense
          v-model="form.is_annually"
          :options="options"
          :option-value="opt => opt.value"
          :option-label="opt => opt.label"
          map-options
          emit-value
          options-selected-class="text-accent"
          label="How Frequent?"
        />
      </q-card-section>
      <q-card-section>
        <q-select
          transition-hide="scale"
          transition-show="scale"
          filled
          dense
          v-model="form.commencement_date"
          :options="months"
          :option-value="opt => opt.id"
          :option-label="opt => opt.month"
          options-selected-class="text-accent"
          map-options
          emit-value
          label="Commencement Date"
        />
      </q-card-section>
      <q-card-section>
        <q-btn
          color="accent"
          @click="update()"
          class="text-primary q-mt-md btn full-width"
          style="border-radius: 18px;"
        >UPDATE</q-btn>
      </q-card-section>
    </q-card>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      form: {},

      months: [
        { id: 1, month: "January" },
        { id: 2, month: "February" },
        { id: 3, month: "March" },
        { id: 4, month: "April" },
        { id: 5, month: "May" },
        { id: 6, month: "June" },
        { id: 7, month: "July" },
        { id: 8, month: "August" },
        { id: 9, month: "September" },
        { id: 10, month: "October" },
        { id: 11, month: "November" },
        { id: 12, month: "December" }
      ],
      loadingCountry: false,
      options: [
        {
          label: "Annually",
          value: true
        },
        {
          label: "Quarterly",
          value: false
        }
      ]
    };
  },

  computed: {
    ...mapGetters("user", ["getUserId", "getUserInfo", "getAvatar"])
  },
  mounted() {
    this.load();
  },
  methods: {
    load() {
      this.$axios
        .post("https://kensington.holbornassets.com//api/getstatementperiod", {
          userId: this.getUserId
        })
        .then(response => {
          this.form = response.data.result;
          console.log(this.form);
        });
    },
    update() {
      this.form.userId = this.getUserId;
      this.$axios
        .post(
          "https://kensington.holbornassets.com//api/updatestatementperiod",
          this.form
        )
        .then(response => {
          if (response.data.success) {
            this.$q.notify({
              color: "positive",
              icon: "check_circle",
              timeout: 1000,
              message: "Statement Period Upadated Successfully",
              position: "top",
              actions: [
                {
                  icon: "close",
                  color: "white",
                  handler: () => {
                    /* ... */
                  }
                }
              ]
            });
          } else {
            this.$q.notify({
              color: "negative",
              icon: "warning",
              timeout: 1000,
              message: "Please, check your entries and try again!",
              position: "top",
              actions: [
                {
                  icon: "close",
                  color: "white",
                  handler: () => {
                    /* ... */
                  }
                }
              ]
            });
          }
        });
    }
  }
};
</script>
