<template>
  <div id="taxresidency">
    <p class="taxresidency">Tax Residency</p>
    <div class="q-my-md">
      <p class="subtitle text-center">
        Tax regulations require us to collect certain information about each
        investor's tax arrangements. Please indicate all countries in which you
        are resident for tax purposes and the associated Tax Reference Numbers
        below.
      </p>
      <p class="subtitle text-center">
        Please select your country/countries of tax residency and enter the
        associated Tax Reference Number. If you have any questions about how to
        complete this form please contact your tax adviser.
      </p>
      <p class="subtitle text-center">
        Only none
        <span class="text-negative">US Tax Residency</span> are allowed
      </p>
    </div>
    <div>
      <tax-residency-expansion
        @update="load"
        v-for="(residency, key) in taxResidency"
        :key="key"
        :residency="residency"
      ></tax-residency-expansion>
    </div>
    <div class="row justify-center">
      <q-btn
        color="accent"
        class="text-primary q-mb-md q-mt-lg"
        style="border-radius: 18px;"
        @click="addTaxResidency = true"
        >Add Tax Residency</q-btn
      >
    </div>

    <q-dialog v-model="addTaxResidency" full-width persistent>
      <q-card>
        <q-toolbar>
          <q-btn class="text-red" flat round dense icon="close" v-close-popup />
          <q-toolbar-title>
            <div class="row items-center">
              <span class="text-left">Add Tax Residency</span>
            </div>
          </q-toolbar-title>
        </q-toolbar>
        <q-separator></q-separator>
        <q-card-section>
          <q-select
            filled
            dense
            :loading="loadingCountry"
            v-model="form.tax_country"
            :options="countries"
            :option-value="opt => opt.iso"
            :option-label="opt => opt.name"
            :error="$v.form.tax_country.$error"
            map-options
            emit-value
            options-selected-class="text-accent"
            label="Country"
            class="q-pb-none"
          >
            <template v-slot:error>
              <i v-if="!$v.form.tax_country.required">Country is required.</i>
            </template>
          </q-select>
          <q-input
            filled
            dense
            v-model="form.id_number"
            label="Tax Identification Number"
            type="text"
            hide-bottom-space
            @input="$v.form.id_number.$touch()"
            :error="$v.form.id_number.$error"
          >
            <template v-slot:error>
              <i v-if="!$v.form.id_number.required"
                >Tax Identification Number is required.</i
              >
              <i v-else-if="!$v.form.id_number.numeric"
                >Tax Identification Number should be numeric.</i
              >
            </template>
          </q-input>
          <div class="row justify-center">
            <q-btn
              :loading="isLoading"
              @click="submit"
              color="accent"
              class="text-primary q-mb-sm q-mt-md full-width"
              style="border-radius: 18px;"
              >Add Tax Residency</q-btn
            >
          </div>
        </q-card-section>
      </q-card>
    </q-dialog>
  </div>
</template>
<script>
import { required, numeric } from "vuelidate/lib/validators";
import TaxResidencyExpansion from "../../../components/TaxResidencyExpansion.vue";
import { mapGetters } from "vuex";
export default {
  components: {
    TaxResidencyExpansion
  },
  data() {
    return {
      isLoading: false,
      countries: [],
      loadingCountry: false,
      form: {},
      addTaxResidency: false,
      taxResidency: {}
    };
  },
  mounted() {
    this.getCountries();
    this.load();
  },
  computed: {
    ...mapGetters("user", ["getUserId"])
  },
  methods: {
    load() {
      this.$axios
        .post("https://kensington.holbornassets.com/api/gettaxresidencies", {
          userId: this.getUserId
        })
        .then(response => {
          this.taxResidency = response.data.result;
        });
    },
    getCountries() {
      this.loadingCountry = true;
      this.$axios
        .get("https://kensington.holbornassets.com//api/getCountry")
        .then(response => {
          this.loadingCountry = false;
          this.countries = response.data.result;
        });
    },
    submit() {
      this.isLoading = true;
      this.$v.$touch();
      if (this.$v.$invalid) {
        this.$q.notify({
          color: "negative",
          icon: "warning",
          timeout: 1000,
          message: "Please, check your entries and try again!",
          position: "top",
          actions: [
            {
              icon: "close",
              color: "white",
              handler: () => {
                /* ... */
              }
            }
          ]
        });
      } else {
        this.form.userId = this.getUserId;
        this.$axios
          .post(
            "https://kensington.holbornassets.com/api/addtaxresidency",
            this.form
          )
          .then(response => {
            this.$q.notify({
              color: "positive",
              icon: "check_circle",
              timeout: 1000,
              message: response.data.message,
              position: "top",
              actions: [
                {
                  icon: "close",
                  color: "white",
                  handler: () => {
                    /* ... */
                  }
                }
              ]
            });
            this.addTaxResidency = false;
            this.form = {};
            this.load();
          });
      }
      this.isLoading = false;
    }
  },
  validations: {
    form: {
      tax_country: { required },
      id_number: { required, numeric }
    }
  }
};
</script>
