<template>
  <q-page id="trade" class="column justify-center">
    <div class="row">
      <div class="col text-center text-h5 q-mb-lg">Select transaction type:</div>
    </div>
    <div class="row q-gutter-md self-center">
      <div class="col">
        <q-btn to="/buy" class="purchase-btn" style="width:125px; height:70px">
          <q-icon name="las la-shopping-bag"></q-icon>
          <span class="q-ml-sm text-caption">Purchase</span>
        </q-btn>
      </div>
      <div class="col">
        <q-btn to="/redeem" class="redeem-btn" style="width:125px; height:70px">
          <q-icon name="las la-handshake"></q-icon>
          <span class="q-ml-sm text-caption">Redeem</span>
        </q-btn>
      </div>
    </div>
  </q-page>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      filter: 0,
      activeTab: "update-profile"
    };
  },

  computed: {
    ...mapGetters("user", ["getFullName", "getAvatar"])
  },
  methods: {}
};
</script>
